<div>
    <table>
        <tr>
            <td style="text-align: end; padding-right:15px;">First name:</td>
            <td>
                <input type="text" name="region" id="" [(ngModel)]="reciever.firstName">
            </td>
        </tr>
        <tr>
            <td style="text-align: end; padding-right:15px;">Last name:</td>
            <td>
                <input type="text" name="region" id="" [(ngModel)]="reciever.lastName">
            </td>
        </tr>
        <tr>
            <td style="text-align: end; padding-right:15px;">Phone number:</td>
            <td>
                <input type="text" name="region" id="" [(ngModel)]="reciever.phoneNumber">
            </td>
        </tr>
        <tr>
            <td style="text-align: end; padding-right:15px;">Email:</td>
            <td>
                <input type="text" name="region" id="" [(ngModel)]="reciever.email">
            </td>
        </tr>
        <tr>
            <td style="text-align: end; padding-right:15px;">Zip code:</td>
            <td>
                <input type="number" name="region" id="" [(ngModel)]="reciever.zipCode">
            </td>
        </tr>
        <tr>
            <td style="text-align: end; padding-right:15px;">City name:</td>
            <td>
                <input type="text" name="region" id="" [(ngModel)]="reciever.cityName">
            </td>
        </tr>
        <tr>
            <td style="text-align: end; padding-right:15px;">Street:</td>
            <td>
                <input type="text" name="region" id="" [(ngModel)]="reciever.street">
            </td>
        </tr>
        <tr>
            <td style="text-align: end; padding-right:15px;">House number:</td>
            <td>
                <input type="number" name="region" id="" [(ngModel)]="reciever.houseNumber">
            </td>
        </tr>
        TODO:html
        <tr>
            <button (click)="addToDB()" style="width: 100px;height: 100px;"> Add Package</button>
        </tr>
    </table>





</div>