<div [ngClass]="{ lightMode: themeService.light }">
  <div class="cardDiv receiverCard">
    <div class="card">
      <div class="row">

        <div class="col-12 centerElements">
          <span class="title gradient">Add Receiver</span>
        </div>
        <div class="underline gradientBg mb-3"></div>

        <div class="col-12">
          <div class="row">
            <div class="col-4 col-xs-12 text-center">
              <span class="cardText unselectable">FirstName</span>
            </div>
            <div class="col-8 col-xs-12 center">
              <input type="text" [(ngModel)]="reciever.firstName" />
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="row">
            <div class="col-4 col-xs-12 text-center">
              <span class="cardText unselectable">LastName</span>
            </div>
            <div class="col-8 col-xs-12 center">
              <input type="text" [(ngModel)]="reciever.lastName" />
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="row">
            <div class="col-4 col-xs-12 text-center">
              <span class="cardText unselectable">Email</span>
            </div>
            <div class="col-8 col-xs-12 center">
              <input type="text" [(ngModel)]="reciever.email" />
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="row">
            <div class="col-4 col-xs-12 text-center">
              <span class="cardText unselectable">PhoneNumber</span>
            </div>
            <div class="col-8 col-xs-12 center">
              <input type="text" [(ngModel)]="reciever.phoneNumber" />
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="row">
            <div class="col-4 col-xs-12 text-center">
              <span class="cardText unselectable">ZipCode</span>
            </div>
            <div class="col-8 col-xs-12 center">
              <input type="number" [(ngModel)]="reciever.zipCode" />
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="row">
            <div class="col-4 col-xs-12 text-center">
              <span class="cardText unselectable">City</span>
            </div>
            <div class="col-8 col-xs-12 center">
              <input type="text" [(ngModel)]="reciever.cityName" />
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="row">
            <div class="col-4 col-xs-12 text-center">
              <span class="cardText unselectable">Street</span>
            </div>
            <div class="col-8 col-xs-12 center">
              <input type="text" [(ngModel)]="reciever.street" />
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="row">
            <div class="col-4 col-xs-12 text-center">
              <span class="cardText unselectable">HouseNumber</span>
            </div>
            <div class="col-8 col-xs-12 center">
              <input type="text" [(ngModel)]="reciever.houseNumber" />
            </div>
          </div>
        </div>

        <div class="col-12 mt-3 buttonGroup">
          <div class="btn addBtn" (click)="addToDB()">
            <span>Create</span>
          </div>
          <div class="btn cancelBtn" (click)="done()">
            <span>Cancel</span>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>