<div [ngClass]="{ light: themeService.light }">
    <div class="nav">
        <button mat-icon-button class="navItem" routerLink="/home" (mouseover)="homeIconSrc = 'assets/images/new/icons/homeGreen.svg'" (mouseleave)="homeIconSrc = 'assets/images/new/icons/homeWhite.svg'">
            <img [src]="homeIconSrc">
        </button>
        <button mat-icon-button class="navItem" routerLink="/profile" (mouseover)="accountIconSrc = 'assets/images/new/icons/personGreen.svg'" (mouseleave)="accountIconSrc = 'assets/images/new/icons/personWhite.svg'">
            <img [src]="accountIconSrc">
        </button>
        <div class="themeToggleContainer">
            <button mat-icon-button class="navItem" (click)="toggleChecked()">
                <div class="indicatorContainer">
                    <div class="indicator" [ngClass]="{ off: themeService.light }"></div>
                </div>
                <mat-icon class="themeToggleIcon">brightness_2</mat-icon>
            </button>
            <mat-slide-toggle [(ngModel)]="isChecked" (click)="toggleTheme()"></mat-slide-toggle>
        </div>
    </div>
</div>