@import '../../../../../app.component.scss';
@import '../mainpage.component.scss';

h1 {
  font-size: 64px;
}

p {
  font-size: 28px;
}

#landingCard {
  margin-bottom: 200px;
}

#cardText {
  text-align: center;
  margin-top: 50px;
}

#landingCardDesc {
  width: 100%;
  text-align: left;
}

#getStartedBtn {
  width: 100%;
  text-align: left;
  margin-bottom: 50px;
}
