<div id="shipperDetailsDiv" [ngClass]="{'lightMode': lightMode == true}">
    <div id="shade" (click)="close()"></div>

    <div id="shipperDetails">
        <app-close-icon [lightMode]="lightMode" (click)="close()"></app-close-icon>

        <div class="stopBeingShipperDiv">
            <img class="stopBeingShipperIcon" src="../../../../../assets/images/StopBeingShipperIcon.svg">
            <p class="stopBeingShipperText gradientRed">Stop being a shipper</p>
        </div>

        <div id="content">
            <div class="title">
                <img class="vehicleIcon" [src]="lightMode ? '../../../../assets/images/LightMode/ShipperIcon.svg' : '../../../../assets/images/DarkMode/ShipperIcon.svg'">
                <p class="titleText ms-2">Vehicles</p>
            </div>

            <app-divider [lightMode]="lightMode"></app-divider>

            <div class="my-2">
                <div class="row m-0 mt-1">
                    <div class="col-xl-1 col-1 p-0"></div>
                    <div class="col-xl-10 col-10 p-0">
                        <input type="text" placeholder="Type">
                    </div>
                    <div class="col-xl-1 col-1 p-0 my-auto">
                        <mat-icon class="deleteIcon gradient" title="Remove Vehicle">delete</mat-icon>
                    </div>
                </div>
            </div>

            <app-add-icon [lightMode]="lightMode"></app-add-icon>
        </div>
    </div>
</div>