@import '../../../../../styles/settings/variables';

.lightMode #shipperDetails {
    background-color: $bgColorWhite;
    color: $colorDarkGray;
}

.lightMode input {
    color: $colorDarkGray;
}

.lightMode input:focus {
    box-shadow: inset 0 1px 1px rgba($colorLightBlue, 0.075), 0 0 8px rgba($colorDarkBlue, 0.6);
}

#shade {
    width: 100%;
    height: 100%;
    background-color: rgba($shadeColor, 0.85);
    position: absolute;
    top: 0;
}

#shipperDetails {
    background-color: $bgColorBlack;
    width: 75%;
    height: 75%;
    position: relative;
    padding: 60px;
    border-radius: 100px;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    animation-name: appear;
    animation-duration: 0.15s;
}

@keyframes appear {
    from {transform: translateY(-50%) scale(0.75);}
    to {transform: translateY(-50%) scale(1);}
}

#shipperDetailsDiv {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

p {
    font-size: 28px;
}

#stopBeingShipperIcon {
    width: 125px;
}

#stopBeingShipperIcon:hover {
    cursor: pointer;
}

.title {
    margin: 0;
    display: inline-block;
}

input:focus {
    outline: none;
    transition: 0.25s;
    box-shadow: inset 0 1px 1px rgba($colorLightYellow, 0.075), 0 0 8px rgba($colorDarkYellow, 0.6);
}

input {
    background: transparent;
    color: white;
    border-radius: 7.5px;
    border: none;
    font-size: 24px;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%;
}

.icon {
    transform: scale(1.75);
    display: inline-block;
}

.deleteIcon:hover {
    cursor: pointer;
}

@media only screen and (max-width: 1200px) {
    #shipperDetails {
        width: 95%;
        padding: 30px;
    }
}

@media only screen and (max-width: 576px) {
    #shipperDetails input {
        font-size: 90%;
    }
    .icon {
        transform: scale(1.15);
    }
    .deleteIcon {
        transform: scale(1);
    }
}