@import '../../../../styles/settings/variables';

.snackBar {
  position: absolute;
  bottom: 1%;

  width: fit-content;
  height: fit-content;

  background-color: $bgColorBlack;
  color: $colorGreen;
  border: 2px solid rgba($colorDarkGray, 0.15);
  border-radius: 10px;
  padding: 5px 25px 5px 25px;
  font-size: 18px;

  animation: snackBarAnim ease-in 0.5s;
}

.snackbarText {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
}

.snackbarIcon {
    display: inline-block;
    vertical-align: middle;
}

@keyframes snackBarAnim {
from {bottom: -10%;}
to {bottom: 1%;}
}
