::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #161518;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(#f2da00, #e29704);
    box-shadow: #e29704 0 0 3px inset;
}

#content {
    width: 100%;
    height: 100vh;

    overflow-y: scroll;
    overflow-x: hidden;

    scrollbar-color: #e29704 #1e1b34;
    scrollbar-width: thin;

    padding-top: 85px;
    box-shadow: inset 0 0 25px black;
}

#myPackagesPage {
    width: 85%;
}

.titleDiv {
    display:flex;
    justify-content:center;
    align-items:center;
}

.titleDiv:hover {
    cursor: pointer;
}

.title {
    font-size: 24px;
    margin: 0;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .title {
        font-size: 20px;
    }
}

@media only screen and (max-width: 500px) {
    .title {
        font-size: 16px;
    }
}

@media only screen and (max-width: 415px) {
    .title {
        font-size: 14px;
    }
}

.titleUnderline {
    transition: 0.35s;
    width: 0;
    height: 3px;
    margin: 0 auto;
    border-radius: 10px;
    background: linear-gradient(to right, #f2da00, #e29704);
}

#myPackagesDiv {
    width: 100%;
    height: 100%;
}

#allPackagesDiv {

}

#toDeliverDiv {

}

.packageCard {
    width: 90%;
    height: 100%;
    border-radius: 35px;
    background-color: rgba(#CAC8D9, 0.05);
    padding: 15px;
    margin: 0 auto;
}

@media only screen and (max-width: 991px) {
    .packageCard {
        width: 50%;
    }
}

@media only screen and (max-width: 750px) {
    .packageCard {
        width: 65%;
    }
}

@media only screen and (max-width: 585px) {
    .packageCard {
        width: 80%;
    }
}

@media only screen and (max-width: 480px) {
    .packageCard {
        width: 100%;
    }
}

.packageTitle {
    text-align: center;
    font-size: 24px;
    margin: 0;
}

.packageText {
    margin: 2.5px 0;
    text-align: end;
    font-size: 16px;
}

.packageData {
    margin: 2.5px 0;
    text-align: start;
    font-size: 16px;
}