<div id="content">
  <app-account-page-navbar></app-account-page-navbar>
  <div class="mx-auto" id="myPackagesPage">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-4 col-4 text-center titleDiv" (click)="filterMyPackages()">
          <p class="title">My Packages</p>
          <div class="titleUnderline"></div>
        </div>
        <div class="col-xl-4 col-4 text-center titleDiv" (click)="filterAcceptedPackages()">
          <p class="title">Accepted Packages</p>
          <div class="titleUnderline" [ngStyle]="{ width: _filterAllPackages ? '100%' : '0' }"></div>
        </div>
        <div class="col-xl-4 col-4 text-center titleDiv" (click)="filterToDeliver()">
          <p class="title">Packages waiting for delivery</p>
          <div class="titleUnderline"></div>
        </div>
      </div>
    </div>

    <div *ngIf="_filterAllPackages == true" class="container-fluid mt-4">
      <div class="row">
        <div class="col-xl-4 col-lg-6 col-md-12 col-12 my-2" *ngFor="let package of this.packageService.packages">
          <stabox-package-card [package]="package"></stabox-package-card>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="_filterMyPackages == true" class="container-fluid mt-4">
    <div class="row">
      <div class="col-xl-4 col-lg-6 col-md-12 col-12 my-2" *ngFor="let package of this.packageService.packages">
        <stabox-package-card [package]="package"></stabox-package-card>
      </div>
      <button *ngIf="!addPackageMode" (click)="addPackageMode = true">Add new package</button>
      <stabox-add-package class="col-xl-4 col-lg-6 col-md-12 col-12 my-2" (newRecieverEvent)="addRecieverMode = true" (doneEvent)="addPackageMode = false" *ngIf="addPackageMode"></stabox-add-package>
      <stabox-add-reciever-with-address class="col-xl-4 col-lg-6 col-md-12 col-12 my-2" (doneEvent)="addRecieverMode = false" *ngIf="addRecieverMode"></stabox-add-reciever-with-address>

    </div>
  </div>

  <div *ngIf="_filterToDeliver == true" class="container-fluid mt-4">
    <div class="row">
      <div class="col-xl-4 col-lg-6 col-md-12 col-12 my-2" *ngFor="let package of this.packageService.packages">
        <stabox-package-card [package]="package"></stabox-package-card>
      </div>
    </div>
  </div>
</div>
