<div class="col-6">
    <div class="packageCard">
        <p class="packageTitle">{{package.name}}</p>
        <app-divider></app-divider>

        <div class="row">
            <div class="col-6">
                <p class="packageText">Shipper:</p>
            </div>
            <div class="col-6">
                <p class="packageData">{{"TODO Shipper"}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <p class="packageText">Zip code:</p>
            </div>
            <div class="col-6">
                <p class="packageData">{{package.fromAddress.zipCode}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <p class="packageText">City:</p>
            </div>
            <div class="col-6">
                <p class="packageData">{{package.fromAddress.cityName}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <p class="packageText">Street:</p>
            </div>
            <div class="col-6">
                <p class="packageData">{{package.fromAddress.street}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <p class="packageText">House Number:</p>
            </div>
            <div class="col-6">
                <p class="packageData">{{package.fromAddress.houseNumber}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <p class="packageText">Size:</p>
            </div>
            <div class="col-6">
                <p class="packageData">{{package.size}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <p class="packageText">Weight:</p>
            </div>
            <div class="col-6">
                <p class="packageData">{{package.weight}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <p class="packageText">Fragility:</p>
            </div>
            <div class="col-6">
                <p class="packageData">{{package.fragile?'Fragile':'Not Fraile'}}</p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 text-center">
                <stabox-show-more-button></stabox-show-more-button>
            </div>
        </div>
        <!-- conditional html -->
        <!-- accept package -->
        <div class="row mt-3" *ngIf="this.state =='shippable'">
            <div class="col-12 text-center">
                <button (click)="selectPostDate()">accept package</button>
            </div>
        </div>
        <!-- accept package -->
        <div class="row mt-3" *ngIf="this.state == 'finishable'">
            <div class="col-12 text-center">
                <button (click)="finishShipping()" >Finish shipping</button>
            </div>
        </div>

    </div>



</div>
