<div>
    <table>
        <tr>
            <td style="text-align: end; padding-right:15px;">County:</td>
            <td>{{"package.currentRegion"}}</td>
        </tr>
        <tr>
            <td style="text-align: end; padding-right:15px;">Zip code:</td>
            <td>{{"Zip code"}}</td>
        </tr>
        <tr>
            <td style="text-align: end; padding-right:15px;">City</td>
            <td>{{"City"}}</td>
        </tr>
        <tr>
            <td style="text-align: end; padding-right:15px;">Street:</td>
            <td>{{"Street"}}</td>
        </tr>
        <tr>
            <td style="text-align: end; padding-right:15px;">House Number:</td>
            <td>{{"House number"}}</td>
        </tr>
        <tr>
            <td style="text-align: end; padding-right:15px;">Size:</td>
            <td>{{package.size}}</td>
        </tr>
        <tr>
            <td style="text-align: end; padding-right:15px;">Weight</td>
            <td>{{package.weight}}</td>
        </tr>
        <tr>
            <td style="text-align: end; padding-right:15px;">Fragility</td>
            <td>{{package.fragile?"Fragile":"Not Fragile"}}</td>
        </tr>
    </table>


</div>