<div [ngClass]="{ lightMode: themeService.light }">
    <div class="card">
        <div class="row centerElements">
            <div class="col-12 centerElements">
                <span class="packageTitle gradient">{{package.name}}</span>
            </div>
            <div class="underline gradientBg mb-2"></div>

            <div class="row">
                <div class="col-6 textRight">
                    <span class="packageText">Zip code:</span>
                </div>
                <div class="col-6">
                    <span class="packageData">{{package.fromAddress.zipCode}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-6 textRight">
                    <span class="packageText">City:</span>
                </div>
                <div class="col-6">
                    <span class="packageData">{{package.fromAddress.cityName}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-6 textRight">
                    <span class="packageText">Street:</span>
                </div>
                <div class="col-6">
                    <span class="packageData">{{package.fromAddress.street}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-6 textRight">
                    <span class="packageText">House Number:</span>
                </div>
                <div class="col-6">
                    <span class="packageData">{{package.fromAddress.houseNumber}} (cm)</span>
                </div>
            </div>
            <div class="row">
                <div class="col-6 textRight">
                    <span class="packageText">Size:</span>
                </div>
                <div class="col-6">
                    <span class="packageData">{{package.size}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-6 textRight">
                    <span class="packageText">Weight:</span>
                </div>
                <div class="col-6">
                    <span class="packageData">{{package.weight}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-6 textRight">
                    <span class="packageText">Fragile:</span>
                </div>
                <div class="col-6">
                    <span class="packageData">{{ package.fragile ? 'Yes' : 'No' }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-6 textRight">
                    <span class="packageText">Status:</span>
                </div>
                <div class="col-6">
                    <span class="packageData">{{this.status}}</span>
                </div>
            </div>

            <div class="row mt-3" *ngIf="this.state =='shippable' && !this.isUserTheOwner">
                <div class="col-12">
                    <select class="packageCardSelect" name="vehicle" id="vehicle" [(ngModel)]="selectedVehicle">
                        <option disabled selected>Vehicle</option>
                        <option *ngFor="let vehicle of vehicles" [value]="vehicle.id">{{vehicle.name}}</option>
                    </select>
                </div>
                <div class="col-12">
                    <select class="packageCardSelect" name="exchangeDates" id="exchangeDates" [(ngModel)]="selectedExchangeDate">
                        <option disabled selected>Date</option>
                        <option *ngFor="let exDate of exchangeDates" [value]="exDate.id">
                            {{exDate.startDate.toLocaleString() | date:'yyyy/MM/dd H:mm'}} -
                            {{exDate.endDate.toString() | date:'yyyy/MM/dd H:mm'}}
                        </option>
                    </select>
                </div>
                <div class="col-12">
                    <button (click)="selectPostDate()">accept package</button>
                </div>
            </div>

            <div class="row mt-3" *ngIf="this.state == 'finishable' && !this.isUserTheOwner">
                <div class="col-12 text-center">
                    <button (click)="finishShipping()">Finish shipping</button>
                </div>
            </div>
        </div>
    </div>
</div>