<div id="landingCard">
    <div class="container-fluid mt-5">
      <div class="row">

        <div class="col-xl-6">
          <div class="w-100" id="cardText">
            <h1>Stabox</h1>
            <app-divider></app-divider>
            <div class="mx-auto" id="landingCardDesc">
              <p>A modern, faster mode of delivery</p>
            </div>
            <div class="mt-5" id="getStartedBtn">
              <app-get-started-button></app-get-started-button>
            </div>
          </div>
        </div>

        <div class="col-xl-6">
          <img class="w-100" src="../../../../assets/images/LandingCardDrawing.svg" alt="">
        </div>
      </div>
    </div>
  </div>