@import '../../../../app.component.scss';

.lightMode #shipperDetails {
  background-color: $bgColorWhite;
  color: $colorDarkGray;
}

.lightMode input {
  color: $colorDarkGray;
}

.lightMode input:focus {
  box-shadow: inset 0 1px 1px rgba($colorLightBlue, 0.075),
    0 0 8px rgba($colorDarkBlue, 0.6);
}

#shade {
  width: 100%;
  height: 100%;
  background-color: rgba($shadeColor, 0.85);
  position: absolute;
  top: 0;
  z-index: 0;

  animation: shadeAppear ease 0.15s;
}

@keyframes shadeAppear {
  from {
    background-color: rgba($shadeColor, 0);
  }
  to {
    background-color: rgba($shadeColor, 0.75);
  }
}

#shipperDetailsDiv {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#shipperDetails {
  background-color: $bgColorBlack;

  width: 75%;
  height: 75%;

  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;

  position: relative;

  margin: auto;
  padding: 60px;

  border-radius: 50px;

  top: 50%;
  transform: translateY(-50%);

  animation-name: appear;
  animation-duration: 0.15s;
}
#shipperDetails::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@keyframes appear {
  from {
    transform: translateY(-50%) scale(0.75);
  }
  to {
    transform: translateY(-50%) scale(1);
  }
}

#content {
  margin: 0 auto;
  margin-top: 16px;
  width: 85%;
  text-align: center;
}

p {
  font-size: 28px;
}

.stopBeingShipperDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -35px 0 115px 0;
}

.stopBeingShipperDiv:hover {
  cursor: pointer;
}

.stopBeingShipperIcon {
  width: 55px;
}

.stopBeingShipperText {
  font-size: 14px;
  margin: 0 0 0 5px;
}

.vehicleIcon {
  width: 95px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.titleText {
  margin: 0;
  display: inline-block;
}

.icon {
  transform: scale(1.75);
  display: inline-block;
}

.deleteIcon {
  transform: scale(1.75);
  display: inline-block;
}

.deleteIcon:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  #shipperDetails {
    width: 95%;
    padding: 30px;
  }
  .stopBeingShipperDiv {
    margin: -15px 0 95px 0;
  }
}

@media only screen and (max-width: 576px) {
  .deleteIcon {
    transform: scale(1.3);
  }
  input {
    font-size: 22px;
  }
  .stopBeingShipperText {
    display: none;
  }
}
