#btn {
    text-decoration: none;
}

#btnImgDiv {
    height: fit-content;
    width: fit-content;
    display: grid;
}
  
#btnImg {
    grid-column: 1;
    grid-row: 1;
}

#btnText {
    grid-column: 1;
    grid-row: 1;

    font-size: 36px;
    font-family: 'PT Sans Caption', sans-serif;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#arrowIconDiv {
    grid-column: 1;
    grid-row: 1;

    display: grid;
    justify-content: end;
}

#arrowIcon {
    grid-column: 1;
    grid-row: 1;

    transform: scale(3);
    z-index: 1;
    color: white;
}

#arrowIconShadow {
    grid-column: 1;
    grid-row: 1;

    color: rgba(0, 0, 0, 0.5);
    transform: scale(3) translate(0.5px, 0.5px);
    filter: blur(0.35px);
}
