@import '../../../app.component.scss';

.lightMode .gradient {
    background-color: $colorLightBlue;
    background: linear-gradient(to right, $colorLightBlue 40%, $colorDarkBlue);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.lightMode .addIconDiv:hover {
    box-shadow: inset 0 1px 1px rgba($colorLightBlue, 0.075), 0 0 8px rgba($colorDarkBlue, 0.6);
}

.addIcon {
    transform: scale(1.5);
    margin: 8px;
}

.addIconDiv {
    transition: 0.25s;
    background-color: transparent;
    border: none;
    border-radius: 50%; 
    padding: 5px;
    margin: 0 auto;
    width: fit-content;
}

.addIconDiv:hover {
    cursor: pointer;
    transition: 0.25s;
    box-shadow: inset 0 1px 1px rgba($colorLightYellow, 0.075), 0 0 8px rgba($colorDarkYellow, 0.6);
}