<div [ngClass]="{ light: themeService.light }">
    <div class="statisticsContainer">
        <div class="row">
            <div class="col-4 statisticsItem" matTooltip="Accounts registered" matTooltipClass="statisticTooltip" matTooltipPosition="above" matTooltipShowDelay="500">
                <img src="assets/images/new/darkTheme/icons/people.svg">
                <span> {{ accountsCreated }} </span>
            </div>
            <div class="col-4 statisticsItem" matTooltip="Packages delivered" matTooltipClass="statisticTooltip" matTooltipPosition="above" matTooltipShowDelay="500">
                <img src="assets/images/new/darkTheme/icons/box.svg">
                <span> {{ packagesDelivered }} </span>
            </div>
            <div class="col-4 statisticsItem" matTooltip="User rating" matTooltipClass="statisticTooltip" matTooltipPosition="above" matTooltipShowDelay="500">
                <img src="assets/images/new/darkTheme/icons/star.svg">
                <span> {{ userRating }} </span>
            </div>
        </div>
    </div>
</div>