@import '../../../styles/settings/variables';

.logoDiv {
    width: fit-content;
    height: fit-content;
}

.logoImg {
    display: inline;
    vertical-align: middle;
    width: 75px;
}

.logoText {
    display: inline;
    vertical-align: middle;
    font-size: 32px;
}