#logo {
    text-decoration: none;
}

#logoDiv {
    transition: 0.5s;
    height: fit-content;
    width: fit-content;
}

#logoImg {
    display: inline;
    vertical-align: middle;
}

#logoText {
    display: inline;
    vertical-align: middle;

    font-size: 32px;
    font-family: 'PT Sans Caption', sans-serif;

    background-color: #f2da00;
    background: linear-gradient(to right, #f2da00, #e29704);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}