@import './../../../app.component.scss';

.lightMode .iconBg:hover {
  background-color: rgba($colorLightGray, 0.25);
}

.packagesPage {
  margin: 125px auto 50px auto;
  height: 100%;

  overflow: scroll;
  overflow-x: hidden;

  scrollbar-width: none;
  -ms-overflow-style: none;
}
.packagePage::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.filter {
  text-align: center;
  font-size: 28px;
  width: 50%;
}

.filter span:hover {
  cursor: pointer;
}

.filterItem:hover .navUnderline {
  transition: 0.35s;
  width: 100%;
}

.filterItem {
  width: fit-content;
  height: 100%;
  margin: 0 auto;
}

.active .navUnderline {
  width: 100%;
}

.editPackages {
  margin-top: 25px;
}

.addIcon {
  transform: scale(1.65);
}

.editIcon {
  transform: scale(1.35);
}

.iconBg {
  width: fit-content;
  height: fit-content;
  padding: 10px;
  border-radius: 50%;
}

.iconBg:hover {
  cursor: pointer;
  background-color: rgba($colorDarkGray, 0.35);
}

@media only screen and (max-width: 1800px) {
  .filter {
    width: 55%;
  }
}

@media only screen and (max-width: 1700px) {
  .filter {
    width: 60%;
  }
}
@media only screen and (max-width: 1600px) {
  .filter {
    width: 65%;
  }
}
@media only screen and (max-width: 1500px) {
  .filter {
    width: 70%;
  }
}
@media only screen and (max-width: 1400px) {
  .filter {
    width: 75%;
  }
}
@media only screen and (max-width: 1300px) {
  .filter {
    width: 80%;
  }
}
@media only screen and (max-width: 1200px) {
  .filter {
    width: 85%;
  }
}
@media only screen and (max-width: 1100px) {
  .filter {
    width: 90%;
  }
}
@media only screen and (max-width: 1000px) {
  .filter {
    width: 95%;
  }
}
@media only screen and (max-width: 900px) {
  .filter {
    width: 100%;
    font-size: 26px;
  }
}
@media only screen and (max-width: 800px) {
  .filter {
    font-size: 24px;
  }
}
@media only screen and (max-width: 700px) {
  .filter {
    font-size: 22px;
  }
}
@media only screen and (max-width: 600px) {
  .filter {
    font-size: 20px;
  }
}
@media only screen and (max-width: 500px) {
  .filter {
    font-size: 18px;
  }
}
@media only screen and (max-width: 400px) {
  .filter {
    font-size: 16px;
  }
}