<div class="container-fluid p-0" [ngClass]="{'lightMode': lightMode == true}">
    <div class="row" id="footer">

        <div id="underline"></div>

        <div class="col-xl-12 p-0 my-1">
            <div class="row mx-auto socialsRow">
                <div class="socialIconDiv col-3 p-0">
                    <img class="socialIcon" [src]="lightMode ? '../../../../assets/images/LightMode/Instagram.svg' : '../../../../assets/images/DarkMode/Instagram.svg'">
                </div>

                <div class="socialIconDiv col-3 p-0">
                    <img class="socialIcon" [src]="lightMode ? '../../../../assets/images/LightMode/Facebook.svg' : '../../../../assets/images/DarkMode/Facebook.svg'">
                </div>

                <div class="socialIconDiv col-3 p-0">
                    <img class="socialIcon" [src]="lightMode ? '../../../../assets/images/LightMode/Twitter.svg' : '../../../../assets/images/DarkMode/Twitter.svg'">
                </div>
            </div>
        </div>

        <div class="col-xl-12 p-0 my-1 copyRightDiv">
            <mat-icon id="copyrightIcon">copyright</mat-icon>
            <p id="copyrightText">2022 All rights reserved</p>
        </div>

    </div>
</div>