@import '../../../styles/settings/variables';

.lightMode #copyrightText,
.lightMode #copyrightIcon {
    color: $colorDarkGray;
}

.lightMode #footer {
    border-top: 1px solid rgba($colorLightGray, 0.5);
}

#footer {
    width: 100%;
    text-align: center;
    margin: 150px 0 0 0;
    padding-top: 15px;
    border-top: 1px solid rgba($colorDarkGray, 0.25);
}

.socialIcon {
    width: 50px;
    height: 50px;
}

.socialIconDiv {
    transition: 0.25s;
    width: fit-content;
    margin: 0 5px 0 5px;
}

.socialIconDiv:hover {
    cursor: pointer;
    transition: 0.25s;
    transform: scale(1.15);
}

.socialsRow {
    width: fit-content;
}

#copyrightIcon {
    display: inline-block;
    color: rgba($colorLightGray, 0.75);
    transform: scale(0.85);
    margin-right: 2px;
}

#copyrightText {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    margin: 0;
    color: rgba($colorLightGray, 0.75);
}