<div class="container-fluid p-0" [ngClass]="{'lightMode': lightMode == true}">
    <div class="row" id="footer">
        <div class="col-xl-12 p-0 my-1">
            <p id="email">stabox@stabox.hu</p>
        </div>

        <div class="col-xl-12 p-0 my-1">
            <div class="row mx-auto socialsRow">
                <div class="socialIconDiv col-3 p-0">
                    <img class="socialIcon" [src]="lightMode ? '../../../../assets/images/LightMode/FacebookIcon.svg' : '../../../../assets/images/DarkMode/FacebookIcon.svg'">
                </div>

                <div class="socialIconDiv col-3 p-0">
                    <img class="socialIcon" [src]="lightMode ? '../../../../assets/images/LightMode/InstagramIcon.svg' : '../../../../assets/images/DarkMode/InstagramIcon.svg'">
                </div>

                <div class="socialIconDiv col-3 p-0">
                    <img class="socialIcon" [src]="lightMode ? '../../../../assets/images/LightMode/TwitterIcon.svg' : '../../../../assets/images/DarkMode/TwitterIcon.svg'">
                </div>

                <div class="socialIconDiv col-3 p-0">
                    <img class="socialIcon" [src]="lightMode ? '../../../../assets/images/LightMode/LinkedinIcon.svg' : '../../../../assets/images/DarkMode/LinkedinIcon.svg'">
                </div>
            </div>
        </div>

        <div class="col-xl-12 p-0 my-1">
            <p id="developers">Cserpák Róbert · Princzes Barnabás · Tamás Attila</p>
        </div>

        <div class="col-xl-12 p-0 my-1 copyRightDiv">
            <mat-icon id="copyrightIcon">copyright</mat-icon>
            <p id="copyrightText">2022 All rights reserved</p>
        </div>

    </div>
</div>