.lightMode p,
.lightMode #copyrightIcon {
    color: #565656;
}

.lightMode #footer {
    border-top: 1px solid rgba(#565656, 0.15);
}

.lightMode #email {
    background-color: #00B3EC;
    background: linear-gradient(to right, #00B3EC, #007FC7);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#footer {
    width: 100%;
    text-align: center;
    margin: 150px 0 0 0;
    padding: 20px 0 10px 0;
    border-top: 1px solid rgba(#CAC8D9, 0.1);
}

#socialIconsDistance {
    width: 40%;
    background-color: red;
}

.socialIcon {
    width: 40px;
    height: 40px;
}

.socialIconDiv {
    width: fit-content;
    margin: 0 10px 0 10px;
}

.socialsRow {
    width: fit-content;
}

#email {
    font-size: 18px;
    font-family: 'PT Sans Caption', sans-serif;
    margin: 0;

    background-color: #f2da00;
    background: linear-gradient(to right, #f2da00, #e29704 70%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p {
    font-family: 'PT Sans Caption', sans-serif;
    color: rgba($color: #CAC8D9, $alpha: 0.75);
    font-size: 32px;
}

#copyrightIcon {
    display: inline-block;
    color: rgba(#CAC8D9, 0.75);
    margin-right: 10px;
}

#copyrightText {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    margin: 0;
}

#developers {
    font-size: 16px;
    margin: 0;
}

.copyRightDiv {
    display:flex;
    align-items:center;
    justify-content:center;
}