@import '../colors.scss';

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: $blueGreen;
}
.content {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;

  padding: 0;
  margin: 0;

  overflow: auto;

  scrollbar-color: $blueGreen $black;
  scrollbar-width: thin;

  position: relative;
}

.landingContainer {
  z-index: 0;

  width: 100%;
  min-height: fit-content;

  color: $white;
  background-color: $black;

  background-image: url('../../../../assets/images/new/images/homePageBackground.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center top;

  padding: 0;
  margin: 0;

  position: absolute;
  top: 0;
  left: 0;
}

.designTriangle {
  z-index: 0;

  width: 100%;
  height: 100%;

  background-image: url('../../../../assets/images/new/images/designTriangle.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center top;

  opacity: 0.1;

  padding: 0;
  margin: 0;

  position: absolute;
  top: 0;
  left: 0;
}

.shade {
  z-index: 0;

  width: 100%;
  height: 100%;

  background-color: rgba($black, 50%);

  padding: 0;
  margin: 0;

  position: absolute;
  top: 0;
  left: 0;
}

.vignette {
  z-index: 0;

  width: 100%;
  height: 100%;

  background: radial-gradient($transparent, $black);
  opacity: 0.5;

  padding: 0;
  margin: 0;

  position: absolute;
  top: 0;
  left: 0;
}

.sloganTitle {
  z-index: 1;

  width: 100%;
  height: fit-content;

  padding: 0;
  margin: 150px 0;

  position: relative;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.sloganTitle span {
  color: $blueGreen;
}
.sloganTitle h1 {
  font-size: 150px;
}
.sloganTitle h2 {
  font-size: 50px;
}

.buttonPanel {
  height: fit-content;
  width: 100%;

  padding: 0;
  margin: 150px 0 0 0;
}

@media only screen and (max-width: 1140px) {
  .sloganTitle h1 {
    font-size: 125px;
  }
  .sloganTitle h2 {
    font-size: 42px;
  }
  .sloganTitle,
  .buttonPanel {
    margin: 125px 0 0 0;
  }
  .applyAsUserButton {
    margin: 17.5px auto 0 auto;
  }
  .applyAsUserButton span {
    font-size: 26px;
  }
  .underline {
    height: 2.5px;
  }
}
@media only screen and (max-width: 960px) {
  .sloganTitle h1 {
    font-size: 100px;
  }
  .sloganTitle h2 {
    font-size: 34px;
  }
  .sloganTitle,
  .buttonPanel {
    margin: 100px 0 0 0;
  }
  .applyAsUserButton {
    margin: 15px auto 0 auto;
  }
  .applyAsUserButton span {
    font-size: 22px;
  }
  .underline {
    height: 2px;
  }
}
@media only screen and (max-width: 720px) {
  .sloganTitle h1 {
    font-size: 75px;
  }
  .sloganTitle h2 {
    font-size: 26px;
  }
  .sloganTitle,
  .buttonPanel {
    margin: 75px 0 0 0;
  }
  .applyAsUserButton {
    margin: 12.5px auto 0 auto;
  }
  .applyAsUserButton span {
    font-size: 18px;
  }
  .underline {
    height: 1.5px;
  }
}
@media only screen and (max-width: 540px) {
  .sloganTitle h1 {
    font-size: 50px;
  }
  .sloganTitle h2 {
    font-size: 18px;
  }
  .sloganTitle,
  .buttonPanel {
    margin: 50px 0 0 0;
  }
  .applyAsUserButton {
    margin: 10px auto 0 auto;
  }
  .applyAsUserButton span {
    font-size: 14px;
  }
  .underline {
    height: 1px;
  }
}
@media only screen and (max-width: 380px) {
  .sloganTitle h1 {
    font-size: 37.5px;
  }
  .sloganTitle h2 {
    font-size: 14px;
  }
  .sloganTitle,
  .buttonPanel {
    margin: 37.5px 0 0 0;
  }
  .applyAsUserButton {
    margin: 8.75px auto 0 auto;
  }
  .applyAsUserButton span {
    font-size: 12px;
  }
  .underline {
    height: 0.5px;
  }
}
@media only screen and (max-width: 300px) {
  .sloganTitle h1 {
    font-size: 31.25px;
  }
  .sloganTitle h2 {
    font-size: 12px;
  }
  .sloganTitle,
  .buttonPanel {
    margin: 25px 0 0 0;
  }
  .applyAsUserButton {
    margin: 7.5px auto 0 auto;
  }
  .applyAsUserButton span {
    font-size: 10px;
  }
}
