<div class="content">
    <div class="landingContainer">
        <div class="designTriangle"></div>
        <div class="shade"></div>
        <div class="vignette"></div>

        <div class="sloganTitle">
            <div class="container-fluid">
                <div class="row text-center">
                    <h1>We <span>deliver</span>.</h1>
                </div>
                <div class="row text-center">
                    <h2><span>Wherever</span> you are. <span>Whenever</span> you need it.</h2>
                </div>
            </div>
        </div>
    </div>


</div>