@import '../colors.scss';

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: $blueGreen;
}
.content {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;

  padding: 0 0 100px 0;
  margin: 0;

  text-shadow: 1px 1px 4px rgba($black, 50%);

  overflow-y: auto;
  overflow-x: hidden;

  scrollbar-color: $blueGreen $black;
  scrollbar-width: thin;

  position: relative;
}

.landingContainer {
  z-index: 0;

  width: 100%;
  min-height: 100%;

  color: $white;
  background-color: $black;

  background-image: url('../../../../assets/images/new/images/homePageBackground.png');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center top;

  padding: 0;
  margin: 0;

  position: relative;
  top: 0;
}

.sloganTitle {
  z-index: 1;

  width: 100%;
  height: fit-content;

  padding: 150px 0 0 0;
  margin: 0;

  position: relative;
}
.sloganTitle span {
  color: $blueGreen;
}
.sloganTitle h1 {
  font-size: 150px;
}
.sloganTitle h2 {
  font-size: 50px;
}

.buttonPanel {
  height: fit-content;
  width: 100%;

  padding: 150px 0;
  margin: 0;
}

.feedbackContainer {
  width: 100%;
  height: fit-content;

  padding: 50px 0;
  margin: 0;

  position: relative;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.feedbackItem {
  padding: 0;
  margin: 0;

  color: $white;

  font-size: 48px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: relative;
}
$feedbackItemImageSize: 150px;
.feedbackItem img {
  width: $feedbackItemImageSize;
  height: $feedbackItemImageSize;
}

.benefitsContainer {
  height: fit-content;
  width: 100%;

  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.title {
  color: $white;

  padding: 0 10px;
  margin: 0;

  font-size: 64px;
}

.underline {
  width: 85%;

  padding: 0;
  margin: 5px auto;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.listImage {
  width: 100%;
  height: 100%;
}
.benefitsListContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.benefitsList {
  width: fit-content;
  height: fit-content;

  padding: 0;
  margin: 25px 0 0 0;

  position: relative;

  list-style: none;
  margin-left: 0;
  padding-left: 1.2em;
}
.benefitsList li {
  height: fit-content;
  width: fit-content;

  list-style: none;
  text-align: left;

  padding: 0 0 0 75px;
  margin: 25px 0;

  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
$listIconSize: 5em;
.benefitsList li:before {
  height: $listIconSize;
  width: $listIconSize;

  content: '';

  background-image: url('../../../../assets/images/new/icons/listItem.svg');
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;
  left: 0;
}
.listItemTitle {
  width: fit-content;
  height: fit-content;

  color: $white;

  margin: 0;
  padding: 0;

  font-size: 48px;
}
.listItemDescription {
  width: fit-content;
  height: fit-content;

  color: rgba($white, 0.75);

  margin: 0;
  padding: 0;

  font-size: 32px;
}

@media only screen and (max-width: 1140px) {
  .content {
    padding-bottom: 90px;
  }
  .landingContainer {
    min-height: fit-content;
    padding-bottom: 175px;
  }
  .sloganTitle h1 {
    font-size: 125px;
  }
  .sloganTitle h2 {
    font-size: 42px;
  }
  .sloganTitle {
    padding: 125px 0 0 0;
  }
  .buttonPanel {
    padding: 125px 0;
  }
  .feedbackContainer {
    padding: 45px 0;
  }
  .feedbackItem {
    font-size: 42px;
  }
  $feedbackItemImageSize: 130px;
  .feedbackItem img {
    width: $feedbackItemImageSize;
    height: $feedbackItemImageSize;
  }
  .title {
    font-size: 46px;
  }
  .benefitsList {
    margin: 22.5px 0 0 0;
  }
  .benefitsList li {
    padding: 0 0 0 60px;
    margin: 22.5px;
  }
  $listIconSize: 4.35em;
  .benefitsList li:before {
    height: $listIconSize;
    width: $listIconSize;
  }
  .listItemTitle {
    font-size: 40px;
  }
  .listItemDescription {
    font-size: 27px;
  }
}
@media only screen and (max-width: 991.5px) {
  .listImage {
    display: none;
  }
}
@media only screen and (max-width: 960px) {
  .content {
    padding-bottom: 80px;
  }
  .landingContainer {
    padding-bottom: 150px;
  }
  .sloganTitle h1 {
    font-size: 100px;
  }
  .sloganTitle h2 {
    font-size: 34px;
  }
  .sloganTitle {
    padding: 100px 0 0 0;
  }
  .buttonPanel {
    padding: 100px 0;
  }
  .feedbackContainer {
    padding: 40px 0;
  }
  .feedbackItem {
    font-size: 36px;
  }
  $feedbackItemImageSize: 110px;
  .feedbackItem img {
    width: $feedbackItemImageSize;
    height: $feedbackItemImageSize;
  }
  .title {
    font-size: 38px;
  }
  .benefitsList {
    margin: 20px 0 0 0;
  }
  .benefitsList li {
    padding: 0 0 0 45px;
    margin: 20px 0;
  }
  $listIconSize: 3.75em;
  .benefitsList li:before {
    height: $listIconSize;
    width: $listIconSize;
  }
  .listItemTitle {
    font-size: 32px;
  }
  .listItemDescription {
    font-size: 22px;
  }
}
@media only screen and (max-width: 720px) {
  .content {
    padding-bottom: 70px;
  }
  .landingContainer {
    padding-bottom: 125px;
  }
  .sloganTitle h1 {
    font-size: 75px;
  }
  .sloganTitle h2 {
    font-size: 26px;
  }
  .feedbackContainer {
    padding: 35px 0;
  }
  .sloganTitle {
    padding: 75px 0 0 0;
  }
  .buttonPanel {
    padding: 75px 0;
  }
  .feedbackItem {
    font-size: 30px;
  }
  $feedbackItemImageSize: 90px;
  .feedbackItem img {
    width: $feedbackItemImageSize;
    height: $feedbackItemImageSize;
  }
  .title {
    font-size: 30px;
  }
  .benefitsList {
    margin: 17.5px 0 0 0;
  }
  .benefitsList li {
    padding: 0 0 0 30px;
    margin: 17.5px 0;
  }
  $listIconSize: 2.75em;
  .benefitsList li:before {
    height: $listIconSize;
    width: $listIconSize;
  }
  .listItemTitle {
    font-size: 24px;
  }
  .listItemDescription {
    font-size: 17px;
  }
}
@media only screen and (max-width: 540px) {
  .content {
    padding-bottom: 60px;
  }
  .landingContainer {
    padding-bottom: 100px;
  }
  .sloganTitle h1 {
    font-size: 50px;
  }
  .sloganTitle h2 {
    font-size: 18px;
  }
  .sloganTitle {
    padding: 50px 0 0 0;
  }
  .buttonPanel {
    padding: 50px 0;
  }
  .feedbackContainer {
    padding: 30px 0;
  }
  .feedbackItem {
    font-size: 24px;
  }
  $feedbackItemImageSize: 70px;
  .feedbackItem img {
    width: $feedbackItemImageSize;
    height: $feedbackItemImageSize;
  }
  .title {
    font-size: 22px;
  }
  .benefitsList {
    margin: 15px 0 0 0;
  }
  .benefitsList li {
    padding: 0 0 0 15px;
    margin: 15px 0;
  }
  $listIconSize: 1.75em;
  .benefitsList li:before {
    height: $listIconSize;
    width: $listIconSize;
  }
  .listItemTitle {
    font-size: 16px;
  }
  .listItemDescription {
    font-size: 12px;
  }
}
@media only screen and (max-width: 380px) {
  .content {
    padding-bottom: 50px;
  }
  .landingContainer {
    padding-bottom: 75px;
  }
  .sloganTitle h1 {
    font-size: 37.5px;
  }
  .sloganTitle h2 {
    font-size: 14px;
  }
  .sloganTitle {
    padding: 37.5px 0 0 0;
  }
  .buttonPanel {
    padding: 37.5px 0;
  }
  .feedbackContainer {
    padding: 25px 0;
  }
  .feedbackItem {
    font-size: 21px;
  }
  $feedbackItemImageSize: 55px;
  .feedbackItem img {
    width: $feedbackItemImageSize;
    height: $feedbackItemImageSize;
  }
  .title {
    font-size: 18px;
  }
  .benefitsList {
    margin: 13.75px 0 0 0;
  }
  .benefitsList li {
    padding: 0 0 0 7.5px;
    margin: 13.75px 0;
  }
  $listIconSize: 1.25em;
  .benefitsList li:before {
    height: $listIconSize;
    width: $listIconSize;
  }
  .listItemTitle {
    font-size: 12px;
  }
  .listItemDescription {
    font-size: 8px;
  }
}
@media only screen and (max-width: 300px) {
  .content {
    padding-bottom: 40px;
  }
  .landingContainer {
    padding-bottom: 50px;
  }
  .sloganTitle h1 {
    font-size: 31.25px;
  }
  .sloganTitle h2 {
    font-size: 12px;
  }
  .sloganTitle {
    padding: 25px 0 0 0;
  }
  .buttonPanel {
    padding: 25px 0;
  }
  .feedbackContainer {
    padding: 20px 0;
  }
  .feedbackItem {
    font-size: 18px;
  }
  $feedbackItemImageSize: 40px;
  .feedbackItem img {
    width: $feedbackItemImageSize;
    height: $feedbackItemImageSize;
  }
  .title {
    font-size: 16px;
  }
  .benefitsList {
    margin: 12.5px 0 0 0;
  }
  .benefitsList li {
    padding: 0 0 0 1px;
    margin: 12.5px 0;
  }
  $listIconSize: 1em;
  .benefitsList li:before {
    height: $listIconSize;
    width: $listIconSize;
  }
  .listItemTitle {
    font-size: 10px;
  }
  .listItemDescription {
    font-size: 8px;
  }
}
