@import '../colors.scss';
@import '../variables.scss';

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: $blueGreen;
}
.content {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;

  padding: 0 0 100px 0;
  margin: 0;

  text-shadow: 1px 1px 4px rgba($black, 50%);

  overflow-y: auto;
  overflow-x: hidden;

  scrollbar-color: $blueGreen $black;
  scrollbar-width: thin;

  position: relative;
}

@media only screen and (max-width: 1140px) {
  .content {
    padding-bottom: 90px;
  }
}
@media only screen and (max-width: 960px) {
  .content {
    padding-bottom: 80px;
  }
}
@media only screen and (max-width: 720px) {
  .content {
    padding-bottom: 70px;
  }
}
@media only screen and (max-width: 540px) {
  .content {
    padding-bottom: 60px;
  }
}
@media only screen and (max-width: 380px) {
  .content {
    padding-bottom: 50px;
  }
}
@media only screen and (max-width: 300px) {
  .content {
    padding-bottom: 40px;
  }
}
