<div class="content">
    <div class="landingContainer">
        <div class="sloganTitle">
            <div class="row text-center">
                <h1>We <span>deliver</span>.</h1>
            </div>
            <div class="row text-center">
                <h2><span>Wherever</span> you are. <span>Whenever</span> you need it.</h2>
            </div>
            <div class="buttonPanel">
                <stabox-button-raised class="mb-1" text="Apply as courier"></stabox-button-raised>
                <stabox-button-basic class="mt-1" text="Register as user"></stabox-button-basic>
            </div>
        </div>
    </div>

    <div class="feedbackContainer">
        <div class="row">
            <div class="col-4 feedbackItem" matTooltip="Accounts registered" matTooltipClass="feedbackItemTooltip" matTooltipPosition="above" matTooltipShowDelay="500">
                <img src="../../../../assets/images/new/icons/people.svg">
                <span> 42 </span>
            </div>
            <div class="col-4 feedbackItem" matTooltip="Packages delivered" matTooltipClass="feedbackItemTooltip" matTooltipPosition="above" matTooltipShowDelay="500">
                <img src="../../../../assets/images/new/icons/box.svg">
                <span> 69 </span>
            </div>
            <div class="col-4 feedbackItem" matTooltip="User rating" matTooltipClass="feedbackItemTooltip" matTooltipPosition="above" matTooltipShowDelay="500">
                <img src="../../../../assets/images/new/icons/star.svg">
                <span> 4.2 </span>
            </div>
        </div>
    </div>

    <div class="benefitsContainer">
        <span class="title">Why should I be a courier at Stabox?</span>
        <img class="underline" src="../../../../assets/images/new/images/underlineVar1.svg">
        <div class="row">
            <div class="col-6">
                <img class="listImage" src="../../../../assets/images/new/images/list.svg">
            </div>
            <div class="col-xl-6 col-12 benefitsListContainer">
                <ul class="benefitsList">
                    <li>
                        <span class="listItemTitle">You are your own boss.</span>
                        <span class="listItemDescription">You decide what to do and when.</span>
                    </li>
                    <li>
                        <span class="listItemTitle">Work at your own pace.</span>
                        <span class="listItemDescription">Tailor the job to your life not the opposite.</span>
                    </li>
                    <li>
                        <span class="listItemTitle">Work hard, earn hard.</span>
                        <span class="listItemDescription">You get rewarded by your own performance.</span>
                    </li>
                    <li>
                        <span class="listItemTitle">Your hands are not tied.</span>
                        <span class="listItemDescription">You get to choose your own way of transport.</span>
                    </li>
                    <li>
                        <span class="listItemTitle">You are supported.</span>
                        <span class="listItemDescription">You get a sleek app to help your work.</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <button mat-raised-button matTooltip="Info about the action">
        Action
    </button>
</div>