@import '../../app.component.scss';

.lightMode .nav {
  color: $colorDarkGray;
  background-color: $bgColorWhite;
  border-bottom: 2px solid rgba($colorDarkGray, 0.1);
}

.lightMode .navText,
.lightMode #coinAmount,
.lightMode #sideBarItemCoinAmount {
  color: $colorDarkGray;
}

.lightMode #sideBar {
  color: $colorDarkGray;
  background-color: $bgColorWhite;
}

.lightMode .sideBarItemDiv {
  border-bottom: 2px solid rgba($colorDarkGray, 0.1);
}

.navbar-dark .navbar-toggler-icon {
  border: none;
}

.navbar-toggler {
  border: none;
  border-radius: 10px;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.nav {
  background-color: $bgColorBlack;
  padding: 10px 40px 10px 40px;
  border-bottom: 2px solid rgba($colorLightGray, 0.1);
}

.nav-item {
  width: fit-content;
  padding-top: 3px;
}

.navText {
  font-size: 28px;
  color: $colorWhite;
  text-decoration: none;
  margin: 0 10px 0 10px;
}

.navText:hover ~ .navUnderline {
  transition: 0.35s;
  width: 100%;
}

.navUnderline {
  transition: 0.35s;
  width: 0;
  height: 3px;
  margin: 0 auto;
  border-radius: 10px;
}

.logo {
  width: 60px;
}

.coinsIcon {
  width: 60px;
  margin-right: 35px;
  display: inline;
  vertical-align: middle;
}

#coinAmount {
  color: $colorWhite;
  margin-right: 20px;
  font-size: 26px;
  display: inline;
  vertical-align: middle;
}

#coinsDiv:hover {
  cursor: pointer;
}

.themeSwitchIcon {
  width: 45px;
}

.themeSwitchIconDiv {
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.themeSwitchIconDiv:hover {
  cursor: pointer;
}

.sideBarDiv {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;

  overflow: hidden;
}

@keyframes shadeAppear {
  from {
    background-color: rgba($shadeColor, 0);
  }
  to {
    background-color: rgba($shadeColor, 0.85);
  }
}

#sideBarShade {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba($shadeColor, 0.85);
  margin-top: 75px;

  animation: shadeAppear ease 0.15s;
}

@keyframes sideBarAppear {
  from {
    transform: translateX(50%);
  }
  to {
    transform: translateX(0);
  }
}

#sideBar {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: $bgColorBlack;
  padding-top: 95px;

  animation: sideBarAppear ease 0.15s;
}

@media only screen and (max-width: 600px) {
  #sideBar {
    width: 100%;
  }
}

.sideBarItem {
  width: fit-content;
  margin: 0 auto;
  text-align: center;
}

.sideBarItemDiv {
  width: 100%;
  border-bottom: 2px solid rgba($colorLightGray, 0.1);
  padding: 15px 0;
}

.sideBarItemDiv:hover {
  cursor: pointer;
}

.sideBarItemDiv:hover .navUnderline {
  transition: 0.35s;
  width: 100%;
}

.sideBarItemCoinsIcon {
  width: 55px;
  display: inline;
  vertical-align: middle;
}

#sideBarItemCoinAmount {
  color: $colorWhite;
  margin-right: 20px;
  font-size: 28px;
  display: inline;
  vertical-align: middle;
}

#sideBarItemCoinsDiv:hover {
  cursor: pointer;
}

@media only screen and (max-width: 320px) {
  .navText {
    font-size: 24px;
  }
  #sideBarItemCoinAmount {
    font-size: 22px;
  }
  .sideBarItemCoinsIcon {
    width: 40px;
  }
}
