@import '../colors.scss';

.button {
  height: fit-content;
  width: fit-content;

  padding: 0;
  margin: 20px auto 0 auto;

  border-bottom: 3px solid $white;

  text-shadow: 1px 1px 4px rgba($black, 50%);
}
.button span {
  color: $white;

  font-size: 30px;
}
.button:hover,
.button:hover span {
  cursor: pointer;
  color: $blueGreen;
  border-color: $blueGreen;
}

@media only screen and (max-width: 1140px) {
  .button {
    margin: 17.5px auto 0 auto;
    border-bottom: 2.5px solid $white;
  }
  .button span {
    font-size: 26px;
  }
}
@media only screen and (max-width: 960px) {
  .button {
    margin: 15px auto 0 auto;
    border-bottom: 2px solid $white;
  }
  .button span {
    font-size: 22px;
  }
}
@media only screen and (max-width: 720px) {
  .button {
    margin: 12.5px auto 0 auto;
    border-bottom: 1.5px solid $white;
  }
  .button span {
    font-size: 18px;
  }
}
@media only screen and (max-width: 540px) {
  .button {
    margin: 10px auto 0 auto;
    border-bottom: 1px solid $white;
  }
  .button span {
    font-size: 14px;
  }
}
@media only screen and (max-width: 380px) {
  .button {
    margin: 8.75px auto 0 auto;
    border-bottom: 0.75px solid $white;
  }
  .button span {
    font-size: 12px;
  }
}
@media only screen and (max-width: 300px) {
  .button {
    margin: 7.5px auto 0 auto;
    border-bottom: 0.5px solid $white;
  }
  .button span {
    font-size: 10px;
  }
}
