.nav {
    background: transparent;
    padding: 20px 40px 20px 40px;
}

.navText {
    font-size: 32px;
    font-family: 'PT Sans Caption', sans-serif;

    background-color: #f2da00;
    background: linear-gradient(to right, #f2da00, #e29704);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.left {
    width: 75%;
    height: fit-content;
}

.right {
    width: 100%;
    height: fit-content;
}

.navBarList {
    justify-content: end;
}