@import '../colors.scss';

.nav {
  z-index: 9999;

  width: 100%;
  height: fit-content;

  color: $white;
  background-color: rgba($black, 0.85);

  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nav img {
  margin: 0 6px;
  width: 55px;
  height: 55px;
}

.navItem {
  height: 100%;
  width: fit-content;

  padding: 6px;
}
.navItem:hover {
  cursor: pointer;
  background-color: $hoverDark;
}

@media only screen and (max-width: 1140px) {
  .nav img {
    margin: 0 5px;
    width: 50px;
    height: 50px;
  }
  .navItem {
    padding: 5px;
  }
}
@media only screen and (max-width: 960px) {
  .nav img {
    margin: 0 4px;
    width: 45px;
    height: 45px;
  }
  .navItem {
    padding: 4px;
  }
}
@media only screen and (max-width: 720px) {
  .nav img {
    margin: 0 3px;
    width: 40px;
    height: 40px;
  }
  .navItem {
    padding: 3px;
  }
}
@media only screen and (max-width: 540px) {
  .nav img {
    margin: 0 2px;
    width: 35px;
    height: 35px;
  }
  .navItem {
    padding: 2px;
  }
}
@media only screen and (max-width: 380px) {
  .nav img {
    margin: 0 1px;
    width: 30px;
    height: 30px;
  }
  .navItem {
    padding: 1px;
  }
}
