@import '../colors.scss';
@import '../variables.scss';

.nav {
  z-index: 9999;

  width: 100%;
  height: fit-content;

  color: $white;
  background-color: rgba($black, 0.85);

  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.navItem {
  width: $navItemSize;
  height: $navItemSize;
}
.navItemIcon {
  font-size: $navItemSize - 15;

  color: $white;

  display: inline;
  vertical-align: middle;
}
.navItem:hover .navItemIcon {
  color: $blueGreen;
}

@media only screen and (max-width: 1140px) {
  $navItemSize: 55px;
  .navItem {
    width: $navItemSize;
    height: $navItemSize;
  }
  .navItemIcon {
    font-size: $navItemSize - 15;
  }
}
@media only screen and (max-width: 960px) {
  $navItemSize: 50px;
  .navItem {
    width: $navItemSize;
    height: $navItemSize;
  }
  .navItemIcon {
    font-size: $navItemSize - 15;
  }
}
@media only screen and (max-width: 720px) {
  $navItemSize: 45px;
  .navItem {
    width: $navItemSize;
    height: $navItemSize;
  }
  .navItemIcon {
    font-size: $navItemSize - 15;
  }
}
@media only screen and (max-width: 540px) {
  $navItemSize: 40px;
  .navItem {
    width: $navItemSize;
    height: $navItemSize;
  }
  .navItemIcon {
    font-size: $navItemSize - 15;
  }
}
@media only screen and (max-width: 380px) {
  $navItemSize: 37.5px;
  .navItem {
    width: $navItemSize;
    height: $navItemSize;
  }
  .navItemIcon {
    font-size: $navItemSize - 15;
  }
}
@media only screen and (max-width: 300px) {
  $navItemSize: 35px;
  .navItem {
    width: $navItemSize;
    height: $navItemSize;
  }
  .navItemIcon {
    font-size: $navItemSize - 15;
  }
}
