@import '../colors.scss';

.nav {
  z-index: 9999;

  width: 100%;
  height: fit-content;

  color: $white;
  background-color: rgba($black, 0.85);

  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.nav img {
  margin: 0 0.5%;
}

.navItem {
  height: 100%;
  width: fit-content;

  padding: 0.1%;
}
.navItem:hover {
  background-color: $hover;
}
