<div [ngClass]="{ light: themeService.light }">
    <div class="instructionsContainer">
        <span class="title">How do I become a courier?</span>
        <img class="underline" src="assets/images/new/darkTheme/images/underlineVar2.svg">
        <div class="container-fluid mt-4">
            <div class="content">
                <div class="row">
                    <div class="col-xl-4 col-12 instructionsColumn">
                        <img [src]="!themeService.light ? 'assets/images/new/darkTheme/images/file.svg' : 'assets/images/new/lightTheme/images/file.svg'">
                        <h1>Apply and sign a contract</h1>
                        <span>After the application you will receive an email message with further instructions.</span>
                    </div>
                    <div class="col-xl-4 col-12 instructionsColumn">
                        <img class="arrowIcon" [src]="!themeService.light ? 'assets/images/new/darkTheme/icons/arrow.svg' : 'assets/images/new/lightTheme/icons/arrow.svg'">
                    </div>
                    <div class="col-xl-4 col-12 instructionsColumn">
                        <img [src]="!themeService.light ? 'assets/images/new/darkTheme/images/briefcase.svg' : 'assets/images/new/lightTheme/images/briefcase.svg'">
                        <h1>Apply and sign a contract</h1>
                        <span>After the application you will receive an email message with further instructions.</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 buttonPanel">
                    <div class="decorativeLineContainer">
                        <div class="decorativeLine"></div>
                    </div>
                    <stabox-button-raised text="Apply as courier"></stabox-button-raised>
                    <div class="decorativeLineContainer">
                        <div class="decorativeLine"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>