@import '../../../../styles/settings/variables';

input {
    transition: 0.5s;
    border-radius: 50px;
    border: none;
    padding: 10px 35px 10px 35px;
    background-color: $colorLightYellow;
    background: linear-gradient(to right, $colorLightYellow, $colorDarkYellow);
    font-size: 28px;
    font-family: 'PT Sans Caption', sans-serif;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#contactUsBtn:hover {
    transform: scale(1.1);
    transition: 0.5s;
    box-shadow: 0 0 3px rgba($colorLightYellow, 0.075), 0 0 10px rgba($colorDarkYellow, 0.6);
}