<div>
    <table>
        <tr>
            <td style="text-align: end; padding-right:15px;">Region:</td>
            <td>
                <input type="text" name="region" id="" [(ngModel)]="package.fromAddress.region">
            </td>
        </tr>
        <tr>
            <td style="text-align: end; padding-right:15px;">Zip code:</td>
            <td>
                <input type="text" name="zipCode" id="" [(ngModel)]="package.fromAddress.zipCode">
            </td>
        </tr>
        <tr>
            <td style="text-align: end; padding-right:15px;">City</td>
            <td>
                <input type="text" name="city" id="" [(ngModel)]="package.fromAddress.city">
            </td>
        </tr>
        <tr>
            <td style="text-align: end; padding-right:15px;">Street:</td>
            <td>
                <input type="text" name="street" id="" [(ngModel)]="package.fromAddress.street">
            </td>
        </tr>
        <tr>
            <td style="text-align: end; padding-right:15px;">House Number:
            </td>
            <td>
                <input type="text" name="houseNumber" id="" [(ngModel)]="package.fromAddress.houseNumber">
            </td>
        </tr>
        <tr>
            <td style="text-align: end; padding-right:15px;">Size:</td>
            <td>
                <input type="text" name="size" id="" [(ngModel)]="package.size">
            </td>
        </tr>
        <tr>
            <td style="text-align: end; padding-right:15px;">Weight</td>
            <td>
                <input type="text" name="weight" id="" [(ngModel)]="package.weight">
            </td>
        </tr>
        <tr>
            <td style="text-align: end; padding-right:15px;">Fragility</td>
            <td>
                <select name="" id="">
                    <option value="0">not fragile</option>
                    <option value="1">fragile</option>
                </select>
            </td>
        </tr>
        <tr>
            <button (click)="addPackage()" style="width: 100px;height: 100px;"> Add Package</button>
        </tr>
    </table>





</div>
