<div id="locationField">
  <input
    type="text"
    id="autocomplete"
    placeholder="Search Location"
    ngx-google-places-autocomplete
    (onAddressChange)="placeChangedCallback($event)"
  />
</div>
<table id="address">
  <tr>
    <td class="label">Street Address</td>
    <td class="slimField">
      <input class="field" [(ngModel)]="street_number" disabled="true" />
    </td>
    <td class="wideField" colspan="2">
      <input class="field" [(ngModel)]="address" disabled="true" />
    </td>
  </tr>
  <tr>
    <td class="label">City</td>
    <td class="wideField" colspan="3">
      <input class="field" [(ngModel)]="city" disabled="true" />
    </td>
  </tr>
  <tr>
    <td class="label">State</td>
    <td class="slimField">
      <input class="field" [(ngModel)]="state" disabled="true" />
    </td>
    <td class="label">Zip code</td>
    <td class="wideField">
      <input class="field" [(ngModel)]="zip" disabled="true" />
    </td>
  </tr>
  <tr>
    <td class="label">Country</td>
    <td class="wideField" colspan="3">
      <input class="field" [(ngModel)]="country" disabled="true" />
    </td>
  </tr>
</table>
