@import '../../../../styles/settings/variables';

#showMoreBtn {
    transition: 0.5s;
    border-radius: 50px;
    border: none;
    padding: 5px 25px 5px 25px;
    background-color: $colorLightYellow;
    background: linear-gradient(to right, $colorLightYellow, $colorDarkYellow);
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
  