$white: #eeeeee;
$black: #161616;
$blueGreen: #41ffc2;
$green: #26ff9d;

$description: rgba($white, 0.75);

$hoverLight: rgba($white, 0.1);
$hoverDark: rgba(black, 0.15);

$transparent: rgba(black, 0);
