$white: #eeeeee;
$black: #161616;
$description: rgba($white, 0.75);

$whiteLight: #fefefc;
$blackLight: #565656;
$descriptionLight: #787878;

$navBlack: #1a191c;

$blueGreen: #41ffc2;
$green: #26ff9d;

$red: #ff4545;
$lightRed: #ff5f60;

$blue: #00a2ff;
$lightBlue: #00b3ec;

$yellow: #f2da00;

$hoverLight: rgba($white, 0.1);
$hoverDark: rgba(black, 0.15);

$transparent: rgba(black, 0);
