$font: 'PT Sans Caption', sans-serif;

$navItemSize: 60px;
$sideNavItemImageSize: 54px;
$bottomNavImageSize: 40px;

$logoImageSize: 65px;

$statisticsItemImageSize: 150px;
$listIconSize: 5em;
$logoImgTextDistance: 8px;
