<div class="row">
  <div class="col-12">
    <input type="text" id="autocomplete" placeholder="enter a location" ngx-google-places-autocomplete (onAddressChange)="placeChangedCallback($event)" />
  </div>
  <div class="col-xl-6 col-12 p-0 m-0">
    <input class="field" [(ngModel)]="myAddress.name" placeholder="nickname" />
  </div>
  <div class="col-xl-6 col-12 p-0 m-0">
    <input class="field" [(ngModel)]="myAddress.country" placeholder="country" />
  </div>
  <div class="col-xl-6 col-12 p-0 m-0">
    <input class="field" [(ngModel)]="myAddress.cityName" placeholder="city" />
  </div>
  <div class="col-xl-6 col-12 p-0 m-0">
    <input class="field" [(ngModel)]="myAddress.zipCode" placeholder="zip code" />
  </div>
  <div class="col-xl-6 col-12 p-0 m-0">
    <input class="field" [(ngModel)]="myAddress.street" placeholder="street" />
  </div>
  <div class="col-xl-6 col-12 p-0 m-0">
    <input class="field" [(ngModel)]="myAddress.houseNumber" placeholder="house number" />
  </div>
</div>