#languageIcon {
    transform: scale(2);

    margin: 8px;

    background-color: #f2da00;
    background: linear-gradient(to right, #f2da00, #e29704);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}