<div class="title">
    <span>Account</span>
    <div class="underline"></div>
</div>

<div class="accountDataContainer">
    <div class="profileImageContainer">
        <div class="profileImage"></div>
        <img class="roleIcon" src="assets/images/new/icons/personGreen.svg" matTooltip="User" matTooltipClass="roleTooltip" matTooltipPosition="after">
    </div>

    <div class="accountData">

        <div class="input-group">
            <div class="input-group-text">
                <mat-icon>verified_user</mat-icon>
            </div>
            <input type="text" class="form-control" placeholder="Username">
        </div>

        <div class="nameInputContainer">
            <div class="input-group nameInput">
                <div class="input-group-text">
                    <mat-icon>person</mat-icon>
                </div>
                <input type="text" class="form-control" placeholder="First name">
            </div>

            <div class="input-group nameInput">
                <div class="input-group-text">
                    <mat-icon>person</mat-icon>
                </div>
                <input type="text" class="form-control" placeholder="Last name">
            </div>
        </div>

        <div class="input-group">
            <div class="input-group-text">
                <mat-icon>mail</mat-icon>
            </div>
            <input type="text" class="form-control" placeholder="Email address">
        </div>

        <div class="input-group">
            <div class="input-group-text">
                <mat-icon>phone</mat-icon>
            </div>
            <input type="text" class="form-control" placeholder="Phone number">
        </div>

        <stabox-button-raised text="Save"></stabox-button-raised>

    </div>
</div>