<div id="secondCard">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-6">
        <img
          class="w-100"
          id="drawing"
          src="../../../../assets/images/AboutUsDrawing.svg"
          alt=""
        />
      </div>
      <div class="col-xl-6">
        <div class="w-100" id="cardText">
          <h1>About Us</h1>
          <stabox-divider></stabox-divider>
          <div class="mx-auto" id="bottomCardDesc">
            <p class="aboutUsParagraph">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
              consectetur libero nec est posuere, nec ullamcorper erat
              scelerisque. Donec feugiat.
            </p>
            <p class="aboutUsParagraph">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
              consectetur libero nec est posuere, nec ullamcorper erat
              scelerisque. Donec feugiat.
            </p>
            <p class="aboutUsParagraph">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
              consectetur libero nec est posuere, nec ullamcorper erat
              scelerisque. Donec feugiat.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
