@import '../../../../styles/settings/variables';

.lightMode .accountIcon {
  color: $colorDarkGray;
}

.lightMode .accountBtn,
.lightMode .menu {
  color: $colorDarkGray;
  background-color: $bgColorWhite;
}

.lightMode .menu {
  border: 2px solid rgba($colorDarkGray, 0.15);
}

.lightMode .menuItem:hover {
  background: rgba($colorLightGray, 0.15);
}

.lightMode .underline {
  color: $colorDarkGray;
}

.accountButtonDiv {
  position: relative;
  width: fit-content;
  min-width: 200px;
}

.accountButtonDiv:hover {
  cursor: pointer;
}

.accountBtn {
  background-color: $bgColorBlack;
  border: none;
  color: $colorWhite;
  border-radius: 75px;
  font-size: 24px;
  padding: 5px 20px 5px 20px;
}

.outline {
  z-index: 2;
  width: fit-content;
  position: relative;
  padding: 5px;
  margin: 0 auto;
  border-radius: 75px;
}

.accountIcon {
  transform: scale(1.5);
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}

.menu {
  z-index: 1;
  height: fit-content;
  width: 100%;
  background-color: $bgColorBlack;
  color: $colorWhite;
  position: absolute;
  top: 0;
  text-align: center;
  border-radius: 25px;
  border: 2px solid rgba($colorLightGray, 0.15);
  padding-top: 65px;
}

.menuItemLogOut {
  border-radius: 0 0 25px 25px;
}

.menuItem:hover {
  background: rgba($colorDarkGray, 0.15);
}

.menuItem:hover .underline {
  transition: 0.35s;
  width: 75%;
}

.underline {
  transition: 0.35s;
  width: 0;
  height: 3px;
  margin: 0 auto;
  border-radius: 10px;
}

.text {
  font-size: 24px;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  margin-right: 7.5px;
}

.icon {
  transform: scale(1.2);
  display: inline-block;
  vertical-align: middle;
  margin-right: 7.5px;
}

.logOutIcon {
  transform: rotate(90deg);
}

@media only screen and (max-width: 320px) {
  .accountBtn {
    font-size: 18px;
  }
  .accountIcon {
    margin-right: 5px;
    transform: scale(1.15);
  }
}
