.lightMode #gradientOutline {
    background-color: #00B3EC;
    background: linear-gradient(to right, #00B3EC, #007FC7);
}

.lightMode #accountIcon {
    color: #565656;
}

.lightMode #accountBtn {
    color: #565656;
    background-color: #fefefc;
}

#accountBtn {
    background-color: #161518;
    border: none;
    color: white;
    border-radius: 75px;
    font-size: 24px;
    padding: 5px 20px 5px 20px;
}

#gradientOutline {
    width: fit-content;
    position: relative;
    background: linear-gradient(to right, #f2da00, #e29704);
    padding: 5px;
    border-radius: 75px;
}

#accountIcon {
    transform: scale(1.5);
    margin: 0 8px 5px 0;
    display: inline-block;
    vertical-align: middle;
}