@import '../../../../styles/settings/variables';

.lightMode .accountIcon {
    color: $colorDarkGray;
}

.lightMode .accountBtn {
    color: $colorDarkGray;
    background-color: $bgColorWhite;
}

.accountBtn {
    background-color: $bgColorBlack;
    border: none;
    color: $colorWhite;
    border-radius: 75px;
    font-size: 24px;
    padding: 5px 20px 5px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outline {
    width: fit-content;
    position: relative;
    background: linear-gradient(to right, $colorLightYellow, $colorDarkYellow);
    padding: 5px;
    border-radius: 75px;
}

.accountIcon {
    transform: scale(1.5);
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

@media only screen and (max-width: 320px) {
    .accountBtn {
        font-size: 18px;
    }
    .accountIcon {
        margin-right: 5px;
        transform: scale(1.15);
    }
}