@import '../../../../styles/settings/variables';

.lightMode .signInBtnIcon {
  color: $colorDarkGray;
}

.lightMode .signInBtn {
  color: $colorDarkGray;
  background-color: $bgColorWhite;
}

.signInBtn {
  background-color: $bgColorBlack;
  border: none;
  color: $colorWhite;
  border-radius: 75px;
  font-size: 24px;
  padding: 5px 20px 5px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outline {
  width: fit-content;
  position: relative;
  padding: 5px;
  border-radius: 75px;
}

.outline:hover {
  cursor: pointer;
}

.signInBtnIcon {
  transform: rotate(90deg) scale(1.25);
  margin-right: 10px;
}
