<div class="content">

    <div class="inputContainer">
        <div class="row">
            <div class="col-12 searchInputContainer">
                <button mat-icon-button class="searchButton" (click)="toggleSearch()" matTooltip="Search location" matTooltipClass="searchTooltip" matTooltipPosition="before">
                    <mat-icon>search</mat-icon>
                </button>
                <input *ngIf="search" class="form-control" id="autocomplete" placeholder="Enter a location" ngx-google-places-autocomplete (onAddressChange)="placeChangedCallback($event)" />
            </div>
        </div>

        <div class="row">
            <div class="col-xl-6 col-12">
                <input class="form-control field" [(ngModel)]="myAddress.name" placeholder="Address name" />
            </div>
            <div class="col-xl-6 col-12">
                <input class="form-control field" [(ngModel)]="myAddress.country" placeholder="Country" />
            </div>
            <div class="col-xl-6 col-12">
                <input class="form-control field" [(ngModel)]="myAddress.cityName" placeholder="City" />
            </div>
            <div class="col-xl-6 col-12">
                <input class="form-control field" [(ngModel)]="myAddress.zipCode" placeholder="Zip code" />
            </div>
            <div class="col-xl-6 col-12">
                <input class="form-control field" [(ngModel)]="myAddress.street" placeholder="Street" />
            </div>
            <div class="col-xl-6 col-12">
                <input class="form-control field" [(ngModel)]="myAddress.houseNumber" placeholder="House number" />
            </div>
        </div>

        <div class="buttonPanel">
            <stabox-button-raised text="Save" (click)="addressService.save(myAddress)" class="button"></stabox-button-raised>
            <stabox-button-raised-danger text="Remove" (click)="addressService.delete(index)" class="button"></stabox-button-raised-danger>
        </div>
    </div>
</div>