<div id="firstCard">
  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col-xl-7">
        <div class="w-100" id="cardText">
          <h1>Our Services</h1>
          <stabox-divider></stabox-divider>
          <div class="mt-4 container-fluid">
            <div class="row">
              <div class="col-xl-4">
                <div class="servicesCard">
                  <img
                    src="../../../../assets/images/BlazingFastDelivery.svg"
                    alt=""
                  />
                  <p class="servicesCardTitle">Blazing fast delivery</p>
                  <stabox-divider></stabox-divider>
                  <p class="servicesCardDesc">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Mauris consectetur libero nec est posuere, nec ullamcorper
                    erat scelerisque. Donec feugiat.
                  </p>
                </div>
              </div>

              <div class="col-xl-4">
                <div class="servicesCard">
                  <img
                    src="../../../../assets/images/CountryWideCoverage.svg"
                    alt=""
                  />
                  <p class="servicesCardTitle">Blazing fast delivery</p>
                  <stabox-divider></stabox-divider>
                  <p class="servicesCardDesc">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Mauris consectetur libero nec est posuere, nec ullamcorper
                    erat scelerisque. Donec feugiat.
                  </p>
                </div>
              </div>

              <div class="col-xl-4">
                <div class="servicesCard">
                  <img
                    src="../../../../assets/images/AllDayDelivery.svg"
                    alt=""
                  />
                  <p class="servicesCardTitle">Blazing fast delivery</p>
                  <stabox-divider></stabox-divider>
                  <p class="servicesCardDesc">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Mauris consectetur libero nec est posuere, nec ullamcorper
                    erat scelerisque. Donec feugiat.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-5">
        <img
          class="w-100 p-5"
          id="drawing"
          src="../../../../assets/images/TopCardDrawing.svg"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
