<div [ngClass]="{ lightMode: themeService.light }">
    <div id="firstCard">
        <div class="container-fluid mt-5">
            <div class="row">

                <div class="col-xl-7">
                    <div class="w-100" id="cardText">
                        <h1>Our Services</h1>
                        <app-divider></app-divider>
                        <div class="mt-4 container-fluid">
                            <div class="row">
                                <div class="col-xl-4">
                                    <div class="servicesCard">
                                        <img class="bigBtnImg" [src]="
                                            themeService.light
                                                ? '../../../../assets/images/LightMode/LightningOutlinedIcon.svg'
                                                : '../../../../assets/images/DarkMode/LightningOutlinedIcon.svg'
                                           " />
                                        <p class="gradient">Blazing fast delivery</p>
                                        <app-divider></app-divider>
                                        <p class="servicesCardDesc">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris consectetur
                                            libero nec est
                                            posuere, nec ullamcorper erat scelerisque. Donec feugiat.
                                        </p>
                                    </div>
                                </div>

                                <div class="col-xl-4">
                                    <div class="servicesCard">
                                        <img class="bigBtnImg" [src]="
                                            themeService.light
                                                ? '../../../../assets/images/LightMode/CompassOutlinedIcon.svg'
                                                : '../../../../assets/images/DarkMode/CompassOutlinedIcon.svg'
                                           " />
                                        <p class="gradient">Blazing fast delivery</p>
                                        <app-divider></app-divider>
                                        <p class="servicesCardDesc">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris consectetur
                                            libero nec est
                                            posuere, nec ullamcorper erat scelerisque. Donec feugiat.
                                        </p>
                                    </div>
                                </div>

                                <div class="col-xl-4">
                                    <div class="servicesCard">
                                        <img class="bigBtnImg" [src]="
                                            themeService.light
                                                ? '../../../../assets/images/LightMode/ClockOutlinedIcon.svg'
                                                : '../../../../assets/images/DarkMode/ClockOutlinedIcon.svg'
                                           " />
                                        <p class="gradient">Blazing fast delivery</p>
                                        <app-divider></app-divider>
                                        <p class="servicesCardDesc">
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris consectetur
                                            libero nec est
                                            posuere, nec ullamcorper erat scelerisque. Donec feugiat.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-xl-5">
                    <img class="w-100 p-5" [src]="
                themeService.light
                  ? '../../../../assets/images/LightMode/TopCardDrawing.svg'
                  : '../../../../assets/images/DarkMode/TopCardDrawing.svg'
              " />
                </div>

            </div>
        </div>
    </div>
</div>