@import '../../../../styles/settings/variables';

.lightMode #closeIcon { 
    color: $colorDarkGray;
}

.lightMode #closeIconDiv:hover {
    background-color: rgba($colorDarkGray, 0.1);
}

#closeIconDiv {
    transition: 0.25s;
    width: fit-content;
    height: fit-content;
    position: absolute;
    right: 60px;
    padding: 10px 12px 5px 12px;
    border-radius: 50%;
}

#closeIcon {
    transform: scale(1.5);
    color: $colorWhite;
}

#closeIconDiv:hover {
    cursor: pointer;
    transition: 0.25s;
    background-color: rgba($colorLightGray, 0.1);
}