<div [ngClass]="{ light: themeService.light }">
    <div class="benefitsContainer">
        <span class="title">Why should I be a courier at Stabox?</span>
        <img class="underline" src="assets/new/icons/underlineVar1.svg">
        <div class="row">
            <div class="col-6">
                <img class="listImage" [src]="!themeService.light ? 'assets/new/icons/listLight.svg' : 'assets/new/icons/listDark.svg'">
            </div>
            <div class="col-xl-6 col-12 benefitsListContainer">
                <ul class="benefitsList">
                    <li>
                        <span class="listItemTitle">You are your own boss.</span>
                        <span class="listItemDescription">You decide what to do and when.</span>
                    </li>
                    <li>
                        <span class="listItemTitle">Work at your own pace.</span>
                        <span class="listItemDescription">Tailor the job to your life not the opposite.</span>
                    </li>
                    <li>
                        <span class="listItemTitle">Work hard, earn hard.</span>
                        <span class="listItemDescription">You get rewarded by your own performance.</span>
                    </li>
                    <li>
                        <span class="listItemTitle">Your hands are not tied.</span>
                        <span class="listItemDescription">You get to choose your own way of transport.</span>
                    </li>
                    <li>
                        <span class="listItemTitle">You are supported.</span>
                        <span class="listItemDescription">You get a sleek app to help your work.</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>