<div [ngClass]="{ lightMode: themeService.light }">
    <div class="unselectable">
        <div class="centerElements" *ngIf="snackbarService.snackbar.showError == true" (click)="dismiss()">
            <div class="snackBar errorSnack">
                <mat-icon class="snackbarIcon">error_outline</mat-icon>
                <p class="snackbarText">{{snackbarService.snackbar.errorMessage}}</p>
            </div>
        </div>

        <div class="w-100 centerElements" *ngIf="snackbarService.snackbar.showSuccess == true" (click)="dismiss()">
            <div class="snackBar successSnack">
                <mat-icon class="snackbarIcon">check_circle_outline</mat-icon>
                <p class="snackbarText">{{snackbarService.snackbar.successMessage}}</p>
            </div>
        </div>

        <div class="w-100 centerElements" *ngIf="snackbarService.snackbar.showConfirm == true" (click)="dismiss()">
            <div class="snackBar confirmSnack">
                <mat-icon class="snackbarIcon">help_outline</mat-icon>
                <p class="snackbarText">{{snackbarService.snackbar.confirmMessage}}</p>
            </div>
        </div>
    </div>
</div>