@import '../../../../styles/settings/variables';

.lightMode .snackBar {
  background-color: $bgColorWhite;
  text-shadow: 2px 2px rgba($colorDarkGray, 0.15);
}

.snackBar {
  position: absolute;
  bottom: -10%;

  width: fit-content;
  height: fit-content;

  background-color: $bgColorBlack;
  border: 2px solid rgba($colorDarkGray, 0.15);
  border-radius: 10px;
  padding: 5px 25px 5px 25px;
  font-size: 18px;

  animation: snack 6s;
}

.snackbarText {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}

.snackbarIcon {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  margin: 0 5px 0 0;
}

.errorSnack {
  color: $colorRed;
}
.successSnack {
  color: $colorGreen;
}
.confirmSnack {
  color: $colorLightBlue;
}

@keyframes snack {
  0% {
    bottom: -10%;
    display: none;
  }
  10% {
    bottom: 1%;
  }
  90% {
    bottom: 1%;
  }
  100% {
    bottom: -10%;
    display: none;
  }
}
