#thirdCard {
    margin-bottom: 200px;
}

.divider {
    width: 100%;
}

#cardText {
    text-align: center;
    margin-top: 50px;
}

.input {
    margin: 50px 0 50px 0;
}

h1 {
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 64px;
}