<div id="thirdCard">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6">
                <div class="w-100" id="cardText">
                    <h1>Have some questions?</h1>
                    <app-divider></app-divider>
                    <form action="">
                        <div class="input">
                            <app-email-input #email (emailEmitter)="this.comment.email=$event" name="email">
                            </app-email-input>
                        </div>
                        <div class="input">
                            <app-name-input (nameEmitter)="this.comment.name=$event" name="name"></app-name-input>
                        </div>
                        <div class="input">
                            <app-message-input (messageEmitter)="this.comment.message=$event" name="message">
                            </app-message-input>
                        </div>
                        <app-contact-us-button (click)="sendFeedback()"></app-contact-us-button>
                    </form>
                </div>
            </div>

            <div class="col-xl-6">
                <img class="w-100" id="drawing" src="../../../../assets/images/FooterCardDrawing.svg" alt="">
            </div>
        </div>
    </div>
</div>
