<div id="thirdCard">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-6">
        <div class="w-100" id="cardText">
          <h1>Have some questions?</h1>
          <stabox-divider></stabox-divider>
          <form action="">
            <div class="input">
              <stabox-email-input></stabox-email-input>
            </div>
            <div class="input">
              <stabox-name-input></stabox-name-input>
            </div>
            <div class="input">
              <stabox-message-input></stabox-message-input>
            </div>
            <stabox-contact-us-button></stabox-contact-us-button>
          </form>
        </div>
      </div>

      <div class="col-xl-6">
        <img
          class="w-100"
          id="drawing"
          src="../../../../assets/images/FooterCardDrawing.svg"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
