$colorWhite: white;
$colorBlack: black;
$colorLightGray: #cac8d9;
$colorDarkGray: #565656;
$colorLightBlue: #00b3ec;
$colorDarkBlue: #007fc7;
$colorLightYellow: #f2da00;
$colorDarkYellow: #e29704;
$colorLightRed: #ff9c9d;
$colorDarkRed: #ff0000;
$colorRed: #ec2f4b;
$colorGreen: #05ff00;

$bgColorWhite: #fefefc;
$bgColorBlack: #161518;

$shadeColor: black;

.centerElements {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.lightMode .content {
  scrollbar-color: $colorLightBlue $bgColorWhite;
  color: $colorDarkGray;
  background-color: $bgColorWhite;
}
.lightMode .content::-webkit-scrollbar-thumb {
  background: linear-gradient($colorLightBlue, $colorDarkBlue);
  box-shadow: $colorDarkBlue 0 0 3px inset;
}
.lightMode .page {
  background-color: $bgColorWhite;
  box-shadow: 0 0 10px 1px rgba($colorBlack, 0.15);
}
.lightMode .gradient {
  background-color: $colorLightBlue;
  background: linear-gradient(to right, $colorLightBlue 40%, $colorDarkBlue);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.lightMode .gradientBg {
  background-color: $colorLightBlue;
  background: linear-gradient(to right, $colorLightBlue 40%, $colorDarkBlue);
}
.lightMode a {
  color: $colorDarkGray;
}
.lightMode input {
  color: $colorDarkGray;
  border: 2px solid rgba($colorLightGray, 0.25);
}
.lightMode input:focus {
  border-color: $colorLightBlue;
  box-shadow: inset 0 1px 1px rgba($colorLightBlue, 0.075),
    0 0 8px rgba($colorDarkBlue, 0.6);
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient($colorLightYellow, $colorDarkYellow);
  box-shadow: $colorDarkYellow 0 0 3px inset;
}
.content {
  width: 100%;
  height: 100vh;

  overflow-y: scroll;
  overflow-x: hidden;

  scrollbar-color: $colorDarkYellow $bgColorBlack;
  scrollbar-width: thin;
}
.page {
  width: 92.5%;
  margin: 145px auto 50px auto;
  padding: 40px;
  border-radius: 50px;

  background-color: $bgColorBlack;
  box-shadow: 0 0 10px 1px rgba($colorDarkGray, 0.15);
}
.gradient {
  background-color: $colorLightYellow;
  background: linear-gradient(
    to right,
    $colorLightYellow 40%,
    $colorDarkYellow
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradientBg {
  background: linear-gradient(
    to right,
    $colorLightYellow 40%,
    $colorDarkYellow
  );
}
.gradientRed {
  background-color: $colorDarkRed;
  background: linear-gradient(to right, $colorLightRed 40%, $colorDarkRed);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
a {
  text-decoration: none;
  color: $colorWhite;
}
input {
  font-size: 28px;
  margin: 7.5px 0 7.5px 0;
  border-radius: 25px;
  border: 2px solid rgba($colorDarkGray, 0.15);
  text-align: center;
  background: transparent;
  color: $colorWhite;
  width: 100%;
}
input:focus {
  outline: none;
  transition: 0.25s;
  border-color: $colorDarkYellow;
  box-shadow: inset 0 1px 1px rgba($colorLightYellow, 0.075),
    0 0 8px rgba($colorDarkYellow, 0.6);
}
.inlineInput {
  font-size: 28px;
  margin: 7.5px 0 7.5px 0;
  border-radius: 25px;
  border: 2px solid rgba($colorDarkGray, 0.15);
  text-align: center;
  background: transparent;
  color: $colorWhite;
  width: 50%;
  display: inline-block;
}

@media only screen and (max-width: 1400px) {
  .page {
    padding: 40px 35px 35px 35px;
  }
}

@media only screen and (max-width: 1200px) {
  .page {
    padding: 40px 30px 30px 30px;
  }
}

@media only screen and (max-width: 768px) {
  .page {
    padding: 35px 25px 25px 25px;
  }
}

@media only screen and (max-width: 575px) {
  .page {
    padding: 30px 20px 20px 20px;
  }
}

@media only screen and (max-width: 400px) {
  .page {
    padding: 25px 15px 15px 15px;
  }
}

@media only screen and (max-width: 330px) {
  .page {
    padding: 20px 10px 10px 10px;
  }
}
