$colorWhite: white;
$colorBlack: black;
$colorLightGray: #CAC8D9;
$colorDarkGray: #565656;
$colorLightBlue: #00B3EC;
$colorDarkBlue: #007FC7;
$colorLightYellow: #f2da00;
$colorDarkYellow: #e29704;

$bgColorWhite: #fefefc;
$bgColorBlack: #161518;

$shadeColor: black;