<div class="landingContainer">
    <div class="sloganTitle">
        <div class="row text-center">
            <h1>We <span>deliver</span>.</h1>
        </div>
        <div class="row text-center">
            <h2><span>Wherever</span> you are. <span>Whenever</span> you need it.</h2>
        </div>
        <div class="buttonPanel">
            <stabox-button-raised class="mb-1" text="Apply as courier" (click)="userService.login()"></stabox-button-raised>
            <stabox-button-basic class="mt-1" text="Register as user" (click)="userService.login()"></stabox-button-basic>
        </div>
    </div>
</div>