@import '../../../app.component.scss';

.lightMode .homeIconDiv:hover {
  background-color: rgba($colorLightGray, 0.25);
}

.homeIconDiv {
  height: 100%;
  display: flex;
  align-items: center;
}

.homeIcon {
  transform: scale(2);
}
