<nav class="navbar navbar-expand-xl navbar-dark nav">
    <div class="left me-5">
        <app-home-icon></app-home-icon>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navBarList" id="navbarNav">
        <ul class="navbar-nav me-auto">
            <li class="nav-item me-3">
                <a class="nav-link mt-1 navText" href="#">My Packages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mt-1 navText" href="#">Available Packages</a>
            </li>
        </ul>

        <div class="mt-1" id="coinAmount">
            <p class="m-0">69 420</p>
        </div>
        <div>
            <img id="coinsIcon" src="../../../../assets/images/CoinsIcon.svg" alt="">
        </div>
        <div>
            <app-account-button></app-account-button>
        </div>
        <div>
            <app-language-icon></app-language-icon>
        </div>
    </div>
</nav>