<div id="content" [ngClass]="{ lightMode: lightMode === true }">
  <app-account-page-navbar
    (lightModeEvent)="getLightModeToggle($event)"
  ></app-account-page-navbar>

  <div class="mx-auto" id="accountPage">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-8 col-lg-9 col-md-12 text-center">
          <div class="row">
            <div class="col-xl-6 col-md-6 centerElements">
              <img
                id="profileImg"
                [src]="userService.authUser.picture"
                alt="{{ userService.user.username }}"
                title="{{ userService.user.username }}"
              />
            </div>
            <div class="col-xl-6 col-md-6">
              <div class="my-4">
                <mat-icon class="accountDataIcon">person</mat-icon>
                <p class="accountDataTitle">Full Name</p>
                <div class="accountDataUnderline"></div>
                <input
                  class="accountDataInput"
                  type="text"
                  [(ngModel)]="userService.user.firstName"
                />
                <input
                  class="accountDataInput"
                  type="text"
                  [(ngModel)]="userService.user.lastName"
                />
              </div>

              <div class="my-4">
                <mat-icon class="accountDataIcon">verified_user</mat-icon>
                <p class="accountDataTitle">Username</p>
                <div class="accountDataUnderline"></div>
                <input
                  class="accountDataInput"
                  type="text"
                  [(ngModel)]="userService.user.username"
                />
              </div>

              <div class="my-4">
                <mat-icon class="accountDataIcon">email</mat-icon>
                <p class="accountDataTitle">Email</p>
                <div class="accountDataUnderline"></div>
                <input
                  class="accountDataInput"
                  type="email"
                  [(ngModel)]="userService.user.email"
                />
              </div>

              <div class="my-4">
                <mat-icon class="accountDataIcon">phone</mat-icon>
                <p class="accountDataTitle">Phone</p>
                <div class="accountDataUnderline"></div>
                <input
                  class="accountDataInput"
                  type="tel"
                  [(ngModel)]="userService.user.phoneNumber"
                />
              </div>

              <div class="my-4">
                <mat-icon class="accountDataIcon">delete</mat-icon>
                <p class="accountDataTitle">DELETE</p>
                <div class="accountDataUnderline"></div>
                <input
                  type="button"
                  (click)="userService.deleteUser()"
                  value="Delete"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-4 col-lg-3 col-md-12">
          <div class="row text-center h-100">
            <div class="col-xl-12 col-lg-12 col-md-6 centerElements">
              <div class="bigBtn" (click)="viewDetails = true">
                <img
                  class="bigBtnImg"
                  [src]="
                    lightMode
                      ? '../../../../assets/images/LightMode/ShipperIcon.svg'
                      : '../../../../assets/images/DarkMode/ShipperIcon.svg'
                  "
                />
                <p class="bigBtnText">Shipper Details</p>
              </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-6 centerElements">
              <div class="bigBtn" routerLink="/mypackages">
                <img
                  class="bigBtnImg"
                  [src]="
                    lightMode
                      ? '../../../../assets/images/LightMode/BoxIcon.svg'
                      : '../../../../assets/images/DarkMode/BoxIcon.svg'
                  "
                />
                <p class="bigBtnText">My Packages</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-5 p-0">
        <div class="col-xl-6 mt-5 p-0 text-center">
          <p class="title">Exchange Dates</p>
          <app-divider [lightMode]="lightMode"></app-divider>
          <div class="w-75 mx-auto">
            <div
              *ngFor="
                let EXDate of exchangeDateService.localeExchangeDates;
                index as i
              "
            >
              <input
                class="accountDataInput"
                type="text"
                [(ngModel)]="EXDate.startDate"
                (change)="exchangeDateService.save(EXDate)"
              />
              <input
                type="button"
                value="delete"
                (click)="exchangeDateService.delete(i)"
              />
            </div>
            <!-- <mat-icon class="addressIcon">home</mat-icon> -->
            <input
              class="addressInput"
              type="datetime-local"
              name=""
              id=""
              value=""
            />

            <!-- <mat-icon class="addressIcon">work</mat-icon> -->
            <input
              class="addressInput"
              type="datetime-local"
              name=""
              id=""
              value=""
            />

            <app-add-icon
              (click)="exchangeDateService.localeAddExchangeDate()"
              [lightMode]="lightMode"
            ></app-add-icon>
          </div>
        </div>

        <div class="col-xl-6 mt-5 p-0 text-center">
          <p class="title">Addresses</p>
          <app-divider [lightMode]="lightMode"></app-divider>
          <div class="w-75 mx-auto">
            <!-- <mat-icon class="addressIcon">home</mat-icon> -->
            <input
              class="addressInput"
              type="text"
              name=""
              id=""
              value="Győr Fő u. 5"
            />

            <!-- <mat-icon class="addressIcon">work</mat-icon> -->
            <input
              class="addressInput"
              type="text"
              name=""
              id=""
              value="Vác Petőfi u. 1"
            />

            <app-add-icon [lightMode]="lightMode"></app-add-icon>
          </div>
        </div>
      </div>
    </div>

    <div id="saveChangesBtn" title="Save Changes">
      <button type="submit" (click)="userService.update()">
        <mat-icon>save</mat-icon>
      </button>
    </div>
  </div>

  <div>
    <app-shipper-details
      [lightMode]="lightMode"
      (viewDetailsEvent)="getViewShipperDetails($event)"
      *ngIf="viewDetails"
    ></app-shipper-details>
  </div>

  <app-footer [lightMode]="lightMode"></app-footer>
</div>
