@import '../../../../styles/settings/variables';

.lightMode .bigBtn {
    color: $colorDarkGray;
    border: 2px solid rgba($colorLightGray, 0.25);
}

.lightMode .bigBtn:hover,
.lightMode #saveChangesBtn:hover {
    border-color: $colorLightBlue;
    box-shadow: inset 0 1px 1px rgba($colorLightBlue, 0.075), 0 0 8px rgba($colorDarkBlue, 0.6);
}

.outline {
    width: fit-content;
    position: relative;
    padding: 2px;
    border-radius: 50%;
}

.accountImage {
    border-radius: 50%;
    width: 400px;
    height: 400px;
}

.accountDataDiv {
    margin: 25px 0;
}

.accountDataIcon {
    transform: scale(1.3);
    margin-right: 10px;
}

.accountDataTitle {
    display: inline;
    font-size: 32px;
}

.accountDataUnderline {
    height: 3px;
    width: 235px;
    margin: 0 auto;
    border-radius: 5px;
}

.bigBtn {
    width: fit-content;
    background-color: transparent;
    border: 2px solid rgba($colorDarkGray, 0.15);
    border-radius: 40px;
    padding: 15px;
    margin: 10px 0;
}

.bigBtn:hover {
    cursor: pointer;
    transition: 0.25s;
    border-color: $colorDarkYellow;
    box-shadow: inset 0 1px 1px rgba($colorLightYellow, 0.075), 0 0 8px rgba($colorDarkYellow, 0.6);
}

.bigBtnImg {
    height: 125px;
}

.bigBtnText {
    font-size: 30px;
    margin: 7.5px 0 0 30px;
    margin-right: 25px;
}

.title {
    font-size: 42px;
}

.saveIcon {
    transition: 0.25s;
    position: absolute;
    bottom: 3%;
    right: 3%;
    padding: 15px 10px 10px 10px;
    border-radius: 10px;
}

.saveIcon:hover {
    transition: 0.25s;
    box-shadow: inset 0 1px 1px rgba($colorLightYellow, 0.075), 0 0 8px rgba($colorDarkYellow, 0.6);
}

.saveIcon button {
    background: transparent;
    border: none;
}

.saveIcon mat-icon {
    transform: scale(2);
}

.accountDataInputDiv {
    width: 45%;
    margin: 0 auto;
    padding: 0;
    margin-top: 40px;
}

.accountDataInputs {
    width: 85%;
    margin: 0 auto;
}

@media only screen and (max-width: 1400px) {
    .accountImage {
        width: 365px;
        height: 365px;
    }
    .accountDataTitle {
        font-size: 30px;
    }
    .accountDataUnderline {
        width: 185px;
    }
    .bigBtnImg {
        height: 120px;
    }
    .bigBtnText {
        font-size: 28px;
    }
    .title {
        font-size: 38px;
    }
    .accountDataInput {
        font-size: 22px;
    }
}

@media only screen and (max-width: 1200px) {
    .accountImage{
        width: 355px;
        height: 355px;
    }
    .accountDataTitle {
        font-size: 28px;
    }
    .accountDataUnderline {
        width: 170px;
    }
    .bigBtnImg {
        height: 120px;
    }
    .bigBtnText {
        font-size: 26px;
    }
    .title {
        font-size: 34px;
    }
    .accountDataInput {
        font-size: 20px;
    }
}

@media only screen and (max-width: 400px) {
    .accountImage {
        width: 300px;
        height: 300px;
    }
    .title {
        font-size: 26px;
    }
    .accountDataInput {
        font-size: 18px;
    }
}

@media only screen and (max-width: 330px) {
    .accountImage {
        width: 250px;
        height: 250px;
    }
    .title {
        font-size: 22px;
    }
    .accountDataInput {
        font-size: 16px;
    }
}