<div [ngClass]="{'lightMode': lightMode == true}">
    <div class="content">
        <app-account-page-navbar (lightModeEvent)="getLightModeToggle($event)"></app-account-page-navbar>

        <div class="page">

            <form>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-8 col-lg-9 col-md-12 text-center">
                            <div class="row">

                                <div class="col-xl-6 col-md-6 centerElements">
                                    <div class="outline gradientBg">
                                        <img class="accountImage" src="https://cataas.com/cat" alt="">
                                    </div>
                                </div>

                                <div class="col-xl-6 col-md-6">
                                    <div class="accountDataDiv">
                                        <mat-icon class="accountDataIcon gradient">verified_user</mat-icon>
                                        <p class="accountDataTitle gradient">Username</p>
                                        <div class="accountDataUnderline gradientBg"></div>
                                        <input type="text" value="Hairy Pooper">
                                    </div>

                                    <div class="accountDataDiv">
                                        <mat-icon class="accountDataIcon gradient">person</mat-icon>
                                        <p class="accountDataTitle gradient">Full Name</p>
                                        <div class="accountDataUnderline gradientBg"></div>
                                        <div class="row">
                                            <div class="col-xl-6 col-12 p-0">
                                                <input type="text" value="James">
                                            </div>
                                            <div class="col-xl-6 col-12 p-0">
                                                <input type="text" value="Bond">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accountDataDiv">
                                        <mat-icon class="accountDataIcon gradient">email</mat-icon>
                                        <p class="accountDataTitle gradient">Email</p>
                                        <div class="accountDataUnderline gradientBg"></div>
                                        <input type="email" value="meow@meow.meow">
                                    </div>

                                    <div class="accountDataDiv">
                                        <mat-icon class="accountDataIcon gradient">phone</mat-icon>
                                        <p class="accountDataTitle gradient">Phone</p>
                                        <div class="accountDataUnderline gradientBg"></div>
                                        <input type="tel" value="69 42 6964269">
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-3 col-md-12">
                            <div class="row text-center h-100">

                                <div class="col-xl-12 col-lg-12 col-md-6 centerElements">
                                    <div class="bigBtn" (click)="viewDetails = true">
                                        <img class="bigBtnImg" [src]="lightMode ? '../../../../assets/images/LightMode/ShipperIcon.svg' : '../../../../assets/images/DarkMode/ShipperIcon.svg'">
                                        <p class="bigBtnText">Shipper Details</p>
                                    </div>
                                </div>

                                <div class="col-xl-12 col-lg-12 col-md-6 centerElements">
                                    <div class="bigBtn" routerLink="/mypackages">
                                        <img class="bigBtnImg" [src]="lightMode ?'../../../../assets/images/LightMode/BoxIcon.svg' : '../../../../assets/images/DarkMode/BoxIcon.svg'">
                                        <p class="bigBtnText">My Packages</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row mt-4 p-0">
                        <div class="col-xl-6 col-12 my-4 text-center">
                            <p class="title gradient">Exchange</p>
                            <app-divider [lightMode]="lightMode"></app-divider>
                            <div class="accountDataInputs">
                                <input type="text" value="2022.02.16 - 2022.02.18">
                                <input type="text" value="2022.02.20 - 2022.02.27">
                                <app-add-icon [lightMode]="lightMode"></app-add-icon>
                            </div>
                        </div>

                        <div class="col-xl-6 col-12 my-4 text-center">
                            <p class="title gradient">Addresses</p>
                            <app-divider [lightMode]="lightMode"></app-divider>
                            <div class="accountDataInputs">
                                <input type="text" value="Győr Fő u. 5">
                                <input type="text" value="Vác Petőfi u. 1">
                                <app-add-icon [lightMode]="lightMode"></app-add-icon>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="saveIcon" title="Save Changes">
                    <button type="submit">
                        <mat-icon class="gradient">save</mat-icon>
                    </button>
                </div>
            </form>

        </div>

        <div>
            <app-shipper-details [lightMode]="lightMode" (viewDetailsEvent)="getViewShipperDetails($event)" *ngIf="viewDetails"></app-shipper-details>
        </div>

        <app-footer [lightMode]="lightMode"></app-footer>

    </div>
</div>