@import '../../../app.component.scss';

#languageIcon {
  transform: scale(2);

  margin: 8px;

  background-color: $colorLightYellow;
  background: linear-gradient(to right, $colorLightYellow, $colorDarkYellow);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#languageIconBtn {
  border: none;
  background: transparent;
}
